<div class="corebaselinecreationhybridecommon-58-8" name="core@Baseline creation Hybride#common">
 <div class="group-58-9" name="Group">
  <div class="group-58-10" name="Group">
  </div>
  <div class="group-58-18" name="Group ">
   <div class="group-58-191" name="Group">
    <div class="group-58-192" name="Group">
     <div class="group-58-193" name="Group">
      <div class="group-58-194" name="Group">
      </div>
      <div class="group-58-195" name="Group">
       <label class="text-58-196" type="text" value="EARLIEST Start Time">
        EARLIEST Start Time
       </label>
       <img class="vector-58-197" src="assets/images/core/baseline-creation-hybridecommon/vector-58_197.svg"/>
      </div>
     </div>
    </div>
    <div class="group-58-214" name="Group">
     <div class="group-58-215" name="Group">
      <div class="group-58-216" name="Group">
      </div>
      <div class="group-58-217" name="Group">
       <label class="text-58-218" type="text" value="ratio scale">
        ratio scale
       </label>
       <div class="group-58-219" name="Group">
        <label class="text-58-220" type="text" value="1.0">
         1.0
        </label>
        <button class="btn-58-221" type="button">
         <img class="vector-58-223" src="assets/images/core/baseline-creation-hybridecommon/vector-58_223.svg"/>
        </button>
        <button class="btn-58-224" type="button">
         <img class="vector-58-226" src="assets/images/core/baseline-creation-hybridecommon/vector-58_226.svg"/>
        </button>
       </div>
      </div>
     </div>
     <div class="group-58-227" name="Group">
      <div class="group-58-228" name="Group">
      </div>
      <div class="group-58-229" name="Group">
       <label class="text-58-230" type="text" value="Number of Weeks">
        Number of Weeks
       </label>
       <div class="group-58-231" name="Group">
        <label class="text-58-232" type="text" value="3">
         3
        </label>
        <button class="btn-58-233" type="button">
         <img class="vector-58-235" src="assets/images/core/baseline-creation-hybridecommon/vector-58_235.svg"/>
        </button>
        <button class="btn-58-236" type="button">
         <img class="vector-58-238" src="assets/images/core/baseline-creation-hybridecommon/vector-58_238.svg"/>
        </button>
       </div>
      </div>
     </div>
     <div class="group-58-239" name="Group">
      <div class="group-58-240" name="Group">
      </div>
      <div class="group-58-241" name="Group">
       <br/>
       <label class="calendar-58-242" for="html">
        start date
       </label>
       <input class="input-58-242" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
       <br/>
       <img class="vector-58-245" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/86b8b942-50cb-4f25-9fb1-dfce9b433aba"/>
      </div>
     </div>
     <div class="group-58-252" name="Group">
      <div class="group-58-253" name="Group">
      </div>
      <div class="group-58-254" name="Group">
       <br/>
       <label class="calendar-58-255" for="html">
        end date
       </label>
       <input class="input-58-255" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
       <br/>
       <img class="vector-58-258" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/4d79faef-368c-4e64-851a-2e0f3a0df0da"/>
      </div>
     </div>
    </div>
    <div class="group-58-265" name="Group">
     <div class="group-58-266" name="Group">
      <div class="group-58-267" name="Group">
      </div>
      <div class="group-58-268" name="Group">
       <div class="group-58-269" name="Group">
        <div class="group-58-270" name="Group">
        </div>
        <img class="vector-58-271" src="assets/images/core/baseline-creation-hybridecommon/vector-58_271.svg"/>
        <label class="text-58-274" type="text" value="TRADITIONAL">
         TRADITIONAL
        </label>
       </div>
       <div class="group-58-275" name="Group">
        <div class="group-58-276" name="Group">
        </div>
        <img class="vector-58-277" src="assets/images/core/baseline-creation-hybridecommon/vector-58_277.svg"/>
        <label class="text-58-280" type="text" value="HYBRID">
         HYBRID
        </label>
       </div>
       <div class="group-58-281" name="Group">
        <div class="group-58-282" name="Group">
        </div>
        <img class="vector-58-283" src="assets/images/core/baseline-creation-hybridecommon/vector-58_283.svg"/>
        <label class="text-58-286" type="text" value="OPTIMAL">
         OPTIMAL
        </label>
       </div>
      </div>
     </div>
     <div class="group-58-287" name="Group">
      <div class="group-58-288" name="Group">
      </div>
      <div class="group-58-289" name="Group">
       <img class="vector-58-290" src="assets/images/core/baseline-creation-hybridecommon/vector-58_290.svg"/>
       <label class="text-58-299" type="text" value="Shift Distribution Types">
        Shift Distribution Types
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-58-300" name="Group">
    <div class="group-58-301" name="Group">
     <div class="group-58-302" name="Group">
      <div class="group-58-303" name="Group">
      </div>
      <div class="group-58-304" name="Group">
       <label class="text-58-305" type="text" value="Emergency room">
        Emergency room
       </label>
      </div>
     </div>
     <div class="group-58-306" name="Group">
      <div class="group-58-307" name="Group">
       <div class="group-58-308" name="Group">
       </div>
       <div class="group-58-309" name="Group">
        <label class="text-58-310" type="text" value="Department type">
         Department type
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-58-311" name="Group">
     <div class="group-58-312" name="Group">
      <div class="group-58-313" name="Group">
      </div>
      <div class="group-58-314" name="Group">
       <label class="text-58-315" type="text" value="Site2_ED">
        Site2_ED
       </label>
      </div>
     </div>
     <div class="group-58-316" name="Group">
      <div class="group-58-317" name="Group">
       <div class="group-58-318" name="Group">
       </div>
       <div class="group-58-319" name="Group">
        <label class="text-58-320" type="text" value="Department group">
         Department group
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-58-321" name="Group">
     <div class="group-58-322" name="Group">
      <div class="group-58-323" name="Group">
      </div>
      <div class="group-58-324" name="Group">
       <label class="text-58-325" type="text" value="Registered Nurses">
        Registered Nurses
       </label>
      </div>
     </div>
     <div class="group-58-326" name="Group">
      <div class="group-58-327" name="Group">
       <div class="group-58-328" name="Group">
       </div>
       <div class="group-58-329" name="Group">
        <label class="text-58-330" type="text" value="Resource Group">
         Resource Group
        </label>
       </div>
      </div>
     </div>
    </div>
   </div>
   <img class="vector-58-331" src="assets/images/core/baseline-creation-hybridecommon/vector-58_331.svg"/>
   <div class="group-58-332" name="Group">
    <div class="group-58-333" name="Group">
    </div>
    <div class="group-58-334" name="Group">
     <div class="group-58-335" name="Group">
      <img class="vector-58-336" src="assets/images/core/baseline-creation-hybridecommon/vector-58_336.svg"/>
      <div class="group-58-340" name="Group">
       <label class="text-58-341" type="text" value="921409198-87861">
        921409198-87861
       </label>
       <div class="group-58-342" name="Group">
        <div class="group-58-343" name="Group">
        </div>
        <img class="vector-58-344" src="assets/images/core/baseline-creation-hybridecommon/vector-58_344.svg"/>
        <label class="text-58-346" type="text" value="Base Line ID">
         Base Line ID
        </label>
       </div>
      </div>
      <label class="text-58-347" type="text" value="Private">
       Private
      </label>
     </div>
     <label class="text-58-348" type="text" value="Base Line Name 001">
      Base Line Name 001
     </label>
    </div>
   </div>
   <div class="group-58-11" name="Group">
    <button class="btn-58-12" type="button">
     Next
    </button>
    <button class="btn-58-15" type="button">
     Cancel
    </button>
   </div>
  </div>
  <div class="group-69-440" name="Group">
   <div class="group-69-441" name="Group">
   </div>
   <div class="group-69-442" name="Group ">
    <div class="group-69-616" name="Group">
     <div class="group-69-617" name="Group">
      <div class="group-69-618" name="Group">
       <div class="group-69-619" name="Group">
       </div>
       <div class="group-69-620" name="Group">
        <label class="text-69-621" type="text" value="EARLIEST Start Time">
         EARLIEST Start Time
        </label>
        <img class="vector-69-622" src="assets/images/core/baseline-creation-hybridecommon/vector-69_622.svg"/>
       </div>
      </div>
     </div>
     <div class="group-69-639" name="Group">
      <div class="group-69-640" name="Group">
       <div class="group-69-641" name="Group">
       </div>
       <div class="group-69-642" name="Group">
        <label class="text-69-643" type="text" value="ratio scale">
         ratio scale
        </label>
        <div class="group-69-644" name="Group">
         <label class="text-69-645" type="text" value="1.0">
          1.0
         </label>
         <button class="btn-69-646" type="button">
          <img class="vector-69-648" src="assets/images/core/baseline-creation-hybridecommon/vector-69_648.svg"/>
         </button>
         <button class="btn-69-649" type="button">
          <img class="vector-69-651" src="assets/images/core/baseline-creation-hybridecommon/vector-69_651.svg"/>
         </button>
        </div>
       </div>
      </div>
      <div class="group-69-652" name="Group">
       <div class="group-69-653" name="Group">
       </div>
       <div class="group-69-654" name="Group">
        <label class="text-69-655" type="text" value="Number of Weeks">
         Number of Weeks
        </label>
        <div class="group-69-656" name="Group">
         <label class="text-69-657" type="text" value="3">
          3
         </label>
         <button class="btn-69-658" type="button">
          <img class="vector-69-660" src="assets/images/core/baseline-creation-hybridecommon/vector-69_660.svg"/>
         </button>
         <button class="btn-69-661" type="button">
          <img class="vector-69-663" src="assets/images/core/baseline-creation-hybridecommon/vector-69_663.svg"/>
         </button>
        </div>
       </div>
      </div>
      <div class="group-69-664" name="Group">
       <div class="group-69-665" name="Group">
       </div>
       <div class="group-69-666" name="Group">
        <br/>
        <label class="calendar-69-667" for="html">
         start date
        </label>
        <input class="input-69-667" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
        <br/>
        <img class="vector-69-670" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/8c3ba675-a42a-4fe1-9d0e-f4eb4d1bfc96"/>
       </div>
      </div>
      <div class="group-69-677" name="Group">
       <div class="group-69-678" name="Group">
       </div>
       <div class="group-69-679" name="Group">
        <br/>
        <label class="calendar-69-680" for="html">
         end date
        </label>
        <input class="input-69-680" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
        <br/>
        <img class="vector-69-683" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/e1da2e21-ab14-4894-9069-ad95d0b1c460"/>
       </div>
      </div>
     </div>
     <div class="group-69-690" name="Group">
      <div class="group-69-691" name="Group">
       <div class="group-69-692" name="Group">
       </div>
       <div class="group-69-693" name="Group">
        <div class="group-69-694" name="Group">
         <div class="group-69-695" name="Group">
         </div>
         <img class="vector-69-696" src="assets/images/core/baseline-creation-hybridecommon/vector-69_696.svg"/>
         <label class="text-69-699" type="text" value="TRADITIONAL">
          TRADITIONAL
         </label>
        </div>
        <div class="group-69-700" name="Group">
         <div class="group-69-701" name="Group">
         </div>
         <img class="vector-69-702" src="assets/images/core/baseline-creation-hybridecommon/vector-69_702.svg"/>
         <label class="text-69-705" type="text" value="HYBRID">
          HYBRID
         </label>
        </div>
        <div class="group-69-706" name="Group">
         <div class="group-69-707" name="Group">
         </div>
         <img class="vector-69-708" src="assets/images/core/baseline-creation-hybridecommon/vector-69_708.svg"/>
         <label class="text-69-711" type="text" value="OPTIMAL">
          OPTIMAL
         </label>
        </div>
       </div>
      </div>
      <div class="group-69-712" name="Group">
       <div class="group-69-713" name="Group">
       </div>
       <div class="group-69-714" name="Group">
        <img class="vector-69-715" src="assets/images/core/baseline-creation-hybridecommon/vector-69_715.svg"/>
        <label class="text-69-724" type="text" value="Shift Distribution Types">
         Shift Distribution Types
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-69-725" name="Group">
     <div class="group-69-726" name="Group">
      <div class="group-69-727" name="Group">
       <div class="group-69-728" name="Group">
       </div>
       <div class="group-69-729" name="Group">
        <label class="text-69-730" type="text" value="Emergency room">
         Emergency room
        </label>
       </div>
      </div>
      <div class="group-69-731" name="Group">
       <div class="group-69-732" name="Group">
        <div class="group-69-733" name="Group">
        </div>
        <div class="group-69-734" name="Group">
         <label class="text-69-735" type="text" value="Department type">
          Department type
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-69-736" name="Group">
      <div class="group-69-737" name="Group">
       <div class="group-69-738" name="Group">
       </div>
       <div class="group-69-739" name="Group">
        <label class="text-69-740" type="text" value="Site2_ED">
         Site2_ED
        </label>
       </div>
      </div>
      <div class="group-69-741" name="Group">
       <div class="group-69-742" name="Group">
        <div class="group-69-743" name="Group">
        </div>
        <div class="group-69-744" name="Group">
         <label class="text-69-745" type="text" value="Department group">
          Department group
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-69-746" name="Group">
      <div class="group-69-747" name="Group">
       <div class="group-69-748" name="Group">
       </div>
       <div class="group-69-749" name="Group">
        <label class="text-69-750" type="text" value="Registered Nurses">
         Registered Nurses
        </label>
       </div>
      </div>
      <div class="group-69-751" name="Group">
       <div class="group-69-752" name="Group">
        <div class="group-69-753" name="Group">
        </div>
        <div class="group-69-754" name="Group">
         <label class="text-69-755" type="text" value="Resource Group">
          Resource Group
         </label>
        </div>
       </div>
      </div>
     </div>
    </div>
    <img class="vector-69-756" src="assets/images/core/baseline-creation-hybridecommon/vector-69_756.svg"/>
    <div class="group-69-757" name="Group">
     <div class="group-69-758" name="Group">
     </div>
     <div class="group-69-759" name="Group">
      <div class="group-69-760" name="Group">
       <img class="vector-69-761" src="assets/images/core/baseline-creation-hybridecommon/vector-69_761.svg"/>
       <div class="group-69-765" name="Group">
        <label class="text-69-766" type="text" value="921409198-87861">
         921409198-87861
        </label>
        <div class="group-69-767" name="Group">
         <div class="group-69-768" name="Group">
         </div>
         <img class="vector-69-769" src="assets/images/core/baseline-creation-hybridecommon/vector-69_769.svg"/>
         <label class="text-69-771" type="text" value="Base Line ID">
          Base Line ID
         </label>
        </div>
       </div>
       <label class="text-69-772" type="text" value="Private">
        Private
       </label>
      </div>
      <label class="text-69-773" type="text" value="Base Line Name 001">
       Base Line Name 001
      </label>
     </div>
    </div>
    <div class="group-69-774" name="Group">
     <button class="btn-69-775" type="button">
      Next
     </button>
     <button class="btn-69-778" type="button">
      Cancel
     </button>
    </div>
   </div>
  </div>
 </div>
</div>
