

.corecreatebase-65-354{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-65-355{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1079px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-65-356{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-65-357{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-65-358{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-65-359{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-65-360{
position:absolute ;width: 1373.0px; height: 894.0px;  background-color: rgba(0,0,0,0.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-65-361{
position:absolute ;width: 217.248779296875px; height: 845.0px;  background-color: rgba(0,0,0,0.0);top:49px; left: 0px;background:''}

.group-65-362{
position:absolute ;width: 209.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-65-363{
position: absolute;left: 10.0px; top: 9.0px; width: 207.248779296875px; height: 42.0}

.vector-65-373{
position: relative; width: 16.0px; height: 16.0}

.btn-65-370{
position: absolute;
left: 14.0px;
 top: 62.0px;
 width: 182.0px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-65-378{
position: relative; width: 16.0px; height: 16.0}

.btn-65-375{
position: absolute;
left: 13.6142578125px;
 top: 115.0px;
 width: 182.771484375px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-65-383{
position: relative; width: 16.0px; height: 16.0}

.btn-65-380{
position: absolute;
left: 11.1142578125px;
 top: 168.0px;
 width: 187.771484375px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-65-385{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-65-386{
position:absolute ;width: 285.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.text-65-387{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 250.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-65-388{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.group-65-393{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:69px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-65-394{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;background:''}

.text-65-395{
position: absolute;
left: 25.0px;
 top: 25.0px;
 width: 344.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-65-396{
position: absolute;
left: 409.0px;
 top: 31.0px;
 width: 288.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-65-397{
position: absolute;left: 389.0px; top: 16.0px; width: 1.0px; height: 46.0}

.group-65-398{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-65-399{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-65-400{
position: absolute;left: 1370.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-65-403{
position: absolute;left: 22.0px; top: 24.0px; width: 155.537841796875px; height: 33.9761962890625}

.vector-65-428{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-65-429{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-65-436{
position: relative; width: 24.0px; height: 24.0}

.btn-65-433{
position: absolute;
left: 214.0px;
 top: 17.0px;
 width: 207.0px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(237, 237, 237, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}