<div class="corecreatebase-65-354" name="core@create Base">
 <div class="group-65-355" name="Group">
  <div class="group-65-356" name="Group">
  </div>
  <label class="text-65-357" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-65-358" name="Group">
  <div class="group-65-359" name="Group">
  </div>
 </div>
 <div class="group-65-360" name="Group">
  <div class="group-65-361" name="Group">
   <div class="group-65-362" name="Group">
   </div>
   <img class="vector-65-363" src="assets/images/core/create-base/vector-65_363.svg"/>
   <button class="btn-65-370" type="button">
    <img class="vector-65-373" src="assets/images/core/create-base/vector-65_373.svg"/>
    schedule type
   </button>
   <button class="btn-65-375" type="button">
    <img class="vector-65-378" src="assets/images/core/create-base/vector-65_378.svg"/>
    Distribution type
   </button>
   <button class="btn-65-380" type="button">
    <img class="vector-65-383" src="assets/images/core/create-base/vector-65_383.svg"/>
    Shift Distribution
   </button>
  </div>
  <div class="group-65-385" name="Group">
  </div>
  <div class="group-65-386" name="Group">
   <label class="text-65-387" type="text" value="Pick Base lines if you want">
    Pick Base lines if you want
   </label>
   <img class="vector-65-388" src="assets/images/core/create-base/vector-65_388.svg"/>
  </div>
 </div>
 <div class="group-65-393" name="Group">
  <div class="group-65-394" name="Group">
  </div>
  <label class="text-65-395" type="text" value="create What-if Analysis">
   create What-if Analysis
  </label>
  <label class="text-65-396" type="text" value="Steps to create a new What-if Analysis">
   Steps to create a new What-if Analysis
  </label>
  <img class="vector-65-397" src="assets/images/core/create-base/vector-65_397.svg"/>
 </div>
 <div class="group-65-398" name="Group">
  <div class="group-65-399" name="Group">
  </div>
  <img class="vector-65-400" src="assets/images/core/create-base/vector-65_400.svg"/>
  <img class="vector-65-403" src="assets/images/core/create-base/vector-65_403.svg"/>
  <img class="vector-65-428" src="assets/images/core/create-base/vector-65_428.svg"/>
  <img class="vector-65-429" src="assets/images/core/create-base/vector-65_429.svg"/>
  <button class="btn-65-433" type="button">
   <img class="vector-65-436" src="assets/images/core/create-base/vector-65_436.svg"/>
   back to dashboard
  </button>
 </div>
</div>
