<div class="corecreatebase-1-309" name="core@create Base">
 <div class="group-1-310" name="Group">
  <div class="group-1-311" name="Group">
  </div>
  <label class="text-1-312" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-1-313" name="Group">
  <div class="group-1-314" name="Group">
  </div>
 </div>
 <div class="group-1-315" name="Group">
  <div class="group-1-316" name="Group">
   <div class="group-1-317" name="Group">
   </div>
   <img class="vector-1-318" src="assets/images/core/create-base/vector-1_318.svg"/>
   <button class="btn-1-325" type="button">
    <img class="vector-1-328" src="assets/images/core/create-base/vector-1_328.svg"/>
    schedule type
   </button>
   <button class="btn-1-330" type="button">
    <img class="vector-1-333" src="assets/images/core/create-base/vector-1_333.svg"/>
    Distribution type
   </button>
   <button class="btn-1-335" type="button">
    <img class="vector-1-338" src="assets/images/core/create-base/vector-1_338.svg"/>
    Shift Distribution
   </button>
  </div>
  <div class="group-1-340" name="Group">
  </div>
  <div class="group-1-341" name="Group">
   <label class="text-1-342" type="text" value="Pick Base lines if you want">
    Pick Base lines if you want
   </label>
   <img class="vector-1-343" src="assets/images/core/create-base/vector-1_343.svg"/>
  </div>
 </div>
 <div class="group-1-348" name="Group">
  <div class="group-1-349" name="Group">
  </div>
  <label class="text-1-350" type="text" value="create What-if Analysis">
   create What-if Analysis
  </label>
  <label class="text-1-351" type="text" value="Steps to create a new What-if Analysis">
   Steps to create a new What-if Analysis
  </label>
  <img class="vector-1-352" src="assets/images/core/create-base/vector-1_352.svg"/>
 </div>
 <div class="group-1-353" name="Group">
  <div class="group-1-354" name="Group">
  </div>
  <img class="vector-1-355" src="assets/images/core/create-base/vector-1_355.svg"/>
  <img class="vector-1-358" src="assets/images/core/create-base/vector-1_358.svg"/>
  <img class="vector-1-383" src="assets/images/core/create-base/vector-1_383.svg"/>
  <img class="vector-1-384" src="assets/images/core/create-base/vector-1_384.svg"/>
  <button class="btn-1-388" type="button">
   <img class="vector-1-391" src="assets/images/core/create-base/vector-1_391.svg"/>
   back to dashboard
  </button>
 </div>
</div>
