<div class="authloginpage-1-2" name="Auth@Login Page">
 <img class="vector-1-3" src="assets/images/Auth/login-page/vector-1_3.svg"/>
 <div class="group-1-17" name="Group">
  <div class="group-1-18" name="Group">
   <div class="group-1-19" name="Group">
    <div class="group-1-20" name="Group">
     <div class="group-1-21" name="Group">
      <div class="group-1-22" name="Group">
      </div>
     </div>
    </div>
    <div class="group-1-23" name="Group">
     <input class="text-1-24" placeholder="Password" type="text"/>
     <input class="text-1-27" placeholder="john.doe" type="text"/>
     <div class="group-1-30" name="Group">
      <div class="group-1-31" name="Group">
      </div>
      <label class="text-1-32" type="text" value="User Name">
       User Name
      </label>
     </div>
    </div>
    <div class="group-1-33" name="Group">
     <label class="text-1-34" type="text" value="Show
Password">
      Show
Password
     </label>
     <img class="vector-1-35" src="assets/images/Auth/login-page/vector-1_35.svg"/>
    </div>
   </div>
  </div>
  <button class="btn-1-36" type="button">
   Login
  </button>
  <label class="text-1-39" type="text" value="Forgot username?  |  Forgot password?">
   Forgot username?  |  Forgot password?
  </label>
  <label class="text-1-40" type="text" value="Welcome Back!">
   Welcome Back!
  </label>
 </div>
 <div class="group-1-41" name="Group">
 </div>
 <div class="group-1-42" name="Group">
  <img class="img-1-43" src="assets/images/Auth/login-page/img-1_43.png"/>
 </div>
 <label class="text-1-282" type="text" value="All-in-one platform for the efficient prediction and management of physician and nurse scheduling">
  All-in-one platform for the efficient prediction and management of physician and nurse scheduling
 </label>
 <label class="text-1-283" type="text" value="The first AI-driven healthcare
staffing + scheduling platform">
  The first AI-driven healthcare
staffing + scheduling platform
 </label>
 <img class="vector-1-284" src="assets/images/Auth/login-page/vector-1_284.svg"/>
</div>
