

.authloginpage-50-77{
position:'' ;width: 100%; height: auto;  background-color: rgba(255,255,255,1.0);top:0px; left: 0;background:''}

.vector-50-78{
position: absolute;left: 773.925048828125px; top: -102.59991455078125px; width: 1930.17578125px; height: 1547.5556640625}

.group-50-92{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(0,0,0,0.0);top:287px; left: calc( ( ( 100% - 1440px) / 2 ) + 802px);background:''}

.group-50-93{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-50-94{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-50-95{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-50-96{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;box-shadow: 0.0px 0.0px 25.0px rgba(0, 184, 240, 0.25);background:''}

.group-50-97{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;box-shadow: 0.0px 3.0px 25.0px rgba(11, 133, 193, 0.5);background:''}

.group-50-98{
position:absolute ;width: 409.4982604980469px; height: 174.4168243408203px;  background-color: rgba(255,255,255,1.0);top:120px; left: 41px;background:''}

.text-50-102{
position: absolute;
left: 0.427825927734375px;
 top: 108.728515625px;
 width: 409.4982604980469px;
 height: 65.68830871582031px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.text-50-105{
position: absolute;
left: 0.427825927734375px;
 top: 12.01953125px;
 width: 409.4982604980469px;
 height: 65.68829345703125px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-50-108{
position:absolute ;width: 78.0px; height: 25.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 18px;background:''}

.group-50-109{
position:absolute ;width: 78.0px; height: 25.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.text-50-110{
position: absolute;
left: 9.0px;
 top: 2.0px;
 width: 62.0px;
 height: 19.0px;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Black; font-weight: 400;
}

.group-50-99{
position:absolute ;width: 78.07550048828125px; height: 34.6688232421875px;  background-color: rgba(0,0,0,0.0);top:245px; left: 359px;background:''}

.text-50-100{
position: absolute;
left: 17.527099609375px;
 top: 5.490234375px;
 width: 60.54840087890625px;
 height: 23.720779418945312px;
font-size: 9.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Black; font-weight: 400;
}

.vector-50-101{
position: absolute;left: 0.0px; top: 0.0px; width: 1.27471923828125px; height: 34.6688232421875}

.btn-50-111{
position: absolute;
left: 319.0px;
 top: 342.0px;
 width: 132.0px;
 height: 55.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.text-50-114{
position: absolute;
left: 40.1689453125px;
 top: 305.916015625px;
 width: 196.4788818359375px;
 height: 28.0px;
font-size: 10.0px; color: rgba(147, 147, 147, 1.0); font-family: Gilroy-Black; font-weight: 400;
}

.text-50-115{
position: absolute;
left: 120.0px;
 top: 53.0px;
 width: 257.0px;
 height: 29.0px;
font-size: 36.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-50-116{
position:absolute ;width: 752.0px; height: 1023.0px;  background-color: '';top:5px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-50-117{
position:absolute ;width: 508.0px; height: 473.0px;  background-color: rgba(255,255,255,1.0);top:407px; left: calc( ( ( 100% - 1440px) / 2 ) + 134px);background:''}

.img-50-118{
position: absolute;left: 0.0px; top: 0.0px; width: 507.9999084472656px; height: 454.36029052734375px;}

.text-50-357{
position: absolute;
left: 104.0px;
 top: 318.0px;
 width: 578.0px;
 height: 38.0px;
font-size: 16.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-50-358{
position: absolute;
left: 104.0px;
 top: 218.0px;
 width: 538.0px;
 height: 100.0px;
font-size: 40.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-50-359{
position: absolute;left: 106.0px; top: 90.0px; width: 315.87432861328125px; height: 68.99951171875}