<div class="authloginpage-50-77" name="Auth@Login Page">
 <img class="vector-50-78" src="assets/images/Auth/login-page/vector-50_78.svg"/>
 <div class="group-50-92" name="Group">
  <div class="group-50-93" name="Group">
   <div class="group-50-94" name="Group">
    <div class="group-50-95" name="Group">
     <div class="group-50-96" name="Group">
      <div class="group-50-97" name="Group">
      </div>
     </div>
    </div>
    <div class="group-50-98" name="Group">
     <input class="text-50-102" placeholder="Password" type="text"/>
     <input class="text-50-105" placeholder="john.doe" type="text"/>
     <div class="group-50-108" name="Group">
      <div class="group-50-109" name="Group">
      </div>
      <label class="text-50-110" type="text" value="User Name">
       User Name
      </label>
     </div>
    </div>
    <div class="group-50-99" name="Group">
     <label class="text-50-100" type="text" value="Show
Password">
      Show
Password
     </label>
     <img class="vector-50-101" src="assets/images/Auth/login-page/vector-50_101.svg"/>
    </div>
   </div>
  </div>
  <button class="btn-50-111" type="button">
   Login
  </button>
  <label class="text-50-114" type="text" value="Forgot username?  |  Forgot password?">
   Forgot username?  |  Forgot password?
  </label>
  <label class="text-50-115" type="text" value="Welcome Back!">
   Welcome Back!
  </label>
 </div>
 <div class="group-50-116" name="Group">
 </div>
 <div class="group-50-117" name="Group">
  <img class="img-50-118" src="assets/images/Auth/login-page/img-50_118.png"/>
 </div>
 <label class="text-50-357" type="text" value="All-in-one platform for the efficient prediction and management of physician and nurse scheduling">
  All-in-one platform for the efficient prediction and management of physician and nurse scheduling
 </label>
 <label class="text-50-358" type="text" value="The first AI-driven healthcare
staffing + scheduling platform">
  The first AI-driven healthcare
staffing + scheduling platform
 </label>
 <img class="vector-50-359" src="assets/images/Auth/login-page/vector-50_359.svg"/>
</div>
