<div class="corebaselinelistfinal-1-5707" name="core@Base line list Final">
 <div class="group-1-5708" name="Group">
  <div class="group-1-5709" name="Group">
  </div>
  <label class="text-1-5710" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-1-5711" name="Group">
  <div class="group-1-5712" name="Group">
  </div>
  <div class="group-1-5713" name="Group">
   <div class="group-1-5714" name="Group">
   </div>
   <img class="vector-1-5715" src="assets/images/core/base-line-list-final/vector-1_5715.svg"/>
   <div class="group-1-5716" name="Group">
   </div>
   <div class="group-1-5717" name="Group">
    <div class="group-1-5718" name="Group">
    </div>
    <img class="vector-1-5719" src="assets/images/core/base-line-list-final/vector-1_5719.svg"/>
    <img class="vector-1-5720" src="assets/images/core/base-line-list-final/vector-1_5720.svg"/>
    <div class="group-1-5731" name="Group">
     <img class="vector-1-5732" src="assets/images/core/base-line-list-final/vector-1_5732.svg"/>
    </div>
   </div>
   <div class="group-1-5743" name="Group">
    <img class="img-1-5744" src="assets/images/core/base-line-list-final/img-1_5744.png"/>
    <img class="img-1-5745" src="assets/images/core/base-line-list-final/img-1_5745.png"/>
    <img class="img-1-5746" src="assets/images/core/base-line-list-final/img-1_5746.png"/>
    <button class="btn-1-5747" type="button">
     +3
    </button>
   </div>
   <div class="group-1-5751" name="Group">
    <div class="group-1-5752" name="Group">
    </div>
    <div class="group-1-5753" name="Group">
     <img class="vector-1-5754" src="assets/images/core/base-line-list-final/vector-1_5754.svg"/>
     <img class="vector-1-5756" src="assets/images/core/base-line-list-final/vector-1_5756.svg"/>
     <input class="checkbox-1-5760" type="checkbox"/>
    </div>
   </div>
   <div class="group-1-5762" name="Group">
    <div class="group-1-5763" name="Group">
     <div class="group-1-5764" name="Group">
     </div>
     <img class="vector-1-5765" src="assets/images/core/base-line-list-final/vector-1_5765.svg"/>
     <label class="text-1-5767" type="text" value="921409198-87861">
      921409198-87861
     </label>
     <label class="text-1-5768" type="text" value="Base Line ID">
      Base Line ID
     </label>
    </div>
    <div class="group-1-5769" name="Group">
     <div class="group-1-5770" name="Group">
     </div>
     <img class="vector-1-5771" src="assets/images/core/base-line-list-final/vector-1_5771.svg"/>
     <label class="text-1-5773" type="text" value="Emergency Room">
      Emergency Room
     </label>
     <label class="text-1-5774" type="text" value="Dept: Type">
      Dept: Type
     </label>
    </div>
    <div class="group-1-5775" name="Group">
     <div class="group-1-5776" name="Group">
     </div>
     <img class="vector-1-5777" src="assets/images/core/base-line-list-final/vector-1_5777.svg"/>
     <label class="text-1-5779" type="text" value="Site1_ED">
      Site1_ED
     </label>
     <label class="text-1-5780" type="text" value="Dept: Group">
      Dept: Group
     </label>
    </div>
    <div class="group-1-5781" name="Group">
     <div class="group-1-5782" name="Group">
     </div>
     <img class="vector-1-5783" src="assets/images/core/base-line-list-final/vector-1_5783.svg"/>
     <label class="text-1-5785" type="text" value="Registered Nurses">
      Registered Nurses
     </label>
     <label class="text-1-5786" type="text" value="Resource Group">
      Resource Group
     </label>
    </div>
    <div class="group-1-5787" name="Group">
     <div class="group-1-5788" name="Group">
     </div>
     <img class="vector-1-5789" src="assets/images/core/base-line-list-final/vector-1_5789.svg"/>
     <label class="text-1-5791" type="text" value="March 01,2023  10:33 AM">
      March 01,2023  10:33 AM
     </label>
     <label class="text-1-5792" type="text" value="Created On">
      Created On
     </label>
    </div>
    <div class="group-1-5793" name="Group">
     <button class="btn-1-5794" type="button">
      <img class="vector-1-5796" src="assets/images/core/base-line-list-final/vector-1_5796.svg"/>
     </button>
     <button class="btn-1-5800" type="button">
      <img class="vector-1-5802" src="assets/images/core/base-line-list-final/vector-1_5802.svg"/>
     </button>
    </div>
   </div>
   <div class="group-1-5806" name="Group">
    <select class="dropdown-1-5807">
     <option selected="" value="">
      Link To
     </option>
    </select>
   </div>
   <div class="group-1-5814" name="Group">
    <div class="group-1-5815" name="Group">
     <div class="group-1-5816" name="Group">
      <div class="group-1-5817" name="Group">
      </div>
      <img class="vector-1-5818" src="assets/images/core/base-line-list-final/vector-1_5818.svg"/>
      <label class="text-1-5820" type="text" value="Description">
       Description
      </label>
     </div>
     <label class="text-1-5821" type="text" value="The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.">
      The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.
     </label>
    </div>
    <label class="text-1-5822" type="text" value="*The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.">
     *The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.
    </label>
   </div>
   <div class="group-1-5823" name="Group">
    <button class="btn-1-5824" type="button">
     <img class="vector-1-5826" src="assets/images/core/base-line-list-final/vector-1_5826.svg"/>
    </button>
    <button class="btn-1-5829" type="button">
     <img class="vector-1-5831" src="assets/images/core/base-line-list-final/vector-1_5831.svg"/>
    </button>
    <button class="btn-1-5834" type="button">
     <img class="vector-1-5836" src="assets/images/core/base-line-list-final/vector-1_5836.svg"/>
    </button>
    <button class="btn-1-5843" type="button">
     <img class="vector-1-5845" src="assets/images/core/base-line-list-final/vector-1_5845.svg"/>
    </button>
    <button class="btn-1-5849" type="button">
     <img class="vector-1-5851" src="assets/images/core/base-line-list-final/vector-1_5851.svg"/>
    </button>
    <button class="btn-1-5855" type="button">
     <img class="vector-1-5857" src="assets/images/core/base-line-list-final/vector-1_5857.svg"/>
    </button>
   </div>
   <div class="group-1-5859" name="Group">
    <img class="vector-1-5860" src="assets/images/core/base-line-list-final/vector-1_5860.svg"/>
    <label class="text-1-5874" type="text" value="Base Line Name ABCD">
     Base Line Name ABCD
    </label>
   </div>
   <img class="vector-1-5875" src="assets/images/core/base-line-list-final/vector-1_5875.svg"/>
   <div class="group-1-5876" name="Group">
    <div class="group-1-5877" name="Group">
    </div>
    <img class="vector-1-5878" src="assets/images/core/base-line-list-final/vector-1_5878.svg"/>
    <label class="text-1-5886" type="text" value="Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
">
     Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
    </label>
    <button class="btn-1-5887" type="button">
     <img class="vector-1-5889" src="assets/images/core/base-line-list-final/vector-1_5889.svg"/>
    </button>
   </div>
   <label class="text-1-5891" type="text" value="Collaborators">
    Collaborators
   </label>
  </div>
 </div>
 <div class="group-1-5892" name="Group">
  <div class="group-1-5893" name="Group">
  </div>
  <div class="group-1-5894" name="Group">
   <img class="vector-1-5895" src="assets/images/core/base-line-list-final/vector-1_5895.svg"/>
   <label class="text-1-5900" type="text" value="Base Lines">
    Base Lines
   </label>
  </div>
  <button class="btn-1-5901" type="button">
   <img class="vector-1-5903" src="assets/images/core/base-line-list-final/vector-1_5903.svg"/>
  </button>
  <button class="btn-1-5907" type="button">
   <img class="vector-1-5909" src="assets/images/core/base-line-list-final/vector-1_5909.svg"/>
  </button>
 </div>
 <div class="group-1-5911" name="Group">
  <div class="group-1-5912" name="Group">
  </div>
  <label class="text-1-5913" type="text" value="Base line List">
   Base line List
  </label>
  <label class="text-1-5914" type="text" value="The main list of the ‘Base Lines’ section">
   The main list of the ‘Base Lines’ section
  </label>
  <img class="vector-1-5915" src="assets/images/core/base-line-list-final/vector-1_5915.svg"/>
  <div class="group-1-5916" name="Group">
   <button class="btn-1-5917" type="button">
    <img class="vector-1-5919" src="assets/images/core/base-line-list-final/vector-1_5919.svg"/>
   </button>
  </div>
 </div>
 <div class="group-1-5922" name="Group">
  <div class="group-1-5923" name="Group">
  </div>
  <img class="vector-1-5924" src="assets/images/core/base-line-list-final/vector-1_5924.svg"/>
  <img class="vector-1-5927" src="assets/images/core/base-line-list-final/vector-1_5927.svg"/>
  <img class="vector-1-5952" src="assets/images/core/base-line-list-final/vector-1_5952.svg"/>
  <img class="vector-1-5953" src="assets/images/core/base-line-list-final/vector-1_5953.svg"/>
  <button class="btn-1-5957" type="button">
   <img class="vector-1-5960" src="assets/images/core/base-line-list-final/vector-1_5960.svg"/>
   back to dashboard
  </button>
 </div>
</div>
