<div class="corebaselinecreationhybridcommon-58-8" name="core@Baseline creation Hybrid#common">
 <div class="group-58-9" name="Group">
  <div class="group-58-10" name="Group">
  </div>
  <div class="group-58-11" name="Group">
   <button class="btn-58-12" type="button">
    Next
   </button>
   <div class="frame-58-15" name="Frame">
   </div>
   <div class="group-58-18" name="Group ">
    <div class="group-58-191" name="Group">
     <div class="group-58-192" name="Group">
      <div class="group-58-193" name="Group">
       <div class="group-58-194" name="Group">
       </div>
       <div class="group-58-195" name="Group">
        <label class="text-58-196" type="text" value="EARLIEST Start Time">
         EARLIEST Start Time
        </label>
        <img class="vector-58-197" src="assets/images/core/baseline-creation-hybridcommon/vector-58_197.svg"/>
       </div>
      </div>
     </div>
     <div class="group-58-214" name="Group">
      <div class="group-58-215" name="Group">
       <div class="group-58-216" name="Group">
       </div>
       <div class="group-58-217" name="Group">
        <label class="text-58-218" type="text" value="ratio scale">
         ratio scale
        </label>
        <div class="group-58-219" name="Group">
         <label class="text-58-220" type="text" value="1.0">
          1.0
         </label>
         <button class="btn-58-221" type="button">
          <img class="vector-58-223" src="assets/images/core/baseline-creation-hybridcommon/vector-58_223.svg"/>
         </button>
         <button class="btn-58-224" type="button">
          <img class="vector-58-226" src="assets/images/core/baseline-creation-hybridcommon/vector-58_226.svg"/>
         </button>
        </div>
       </div>
      </div>
      <div class="group-58-227" name="Group">
       <div class="group-58-228" name="Group">
       </div>
       <div class="group-58-229" name="Group">
        <label class="text-58-230" type="text" value="Number of Weeks">
         Number of Weeks
        </label>
        <div class="group-58-231" name="Group">
         <label class="text-58-232" type="text" value="3">
          3
         </label>
         <button class="btn-58-233" type="button">
          <img class="vector-58-235" src="assets/images/core/baseline-creation-hybridcommon/vector-58_235.svg"/>
         </button>
         <button class="btn-58-236" type="button">
          <img class="vector-58-238" src="assets/images/core/baseline-creation-hybridcommon/vector-58_238.svg"/>
         </button>
        </div>
       </div>
      </div>
      <div class="group-58-239" name="Group">
       <div class="group-58-240" name="Group">
       </div>
       <div class="group-58-241" name="Group">
        <br/>
        <label class="calendar-58-242" for="html">
         start date
        </label>
        <input class="input-58-242" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
        <br/>
        <img class="vector-58-245" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/b0341092-3594-4a80-bbaf-4c3543401092"/>
       </div>
      </div>
      <div class="group-58-252" name="Group">
       <div class="group-58-253" name="Group">
       </div>
       <div class="group-58-254" name="Group">
        <br/>
        <label class="calendar-58-255" for="html">
         end date
        </label>
        <input class="input-58-255" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
        <br/>
        <img class="vector-58-258" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/7aa10bfb-ddc6-444f-ad74-13d5567c08d0"/>
       </div>
      </div>
     </div>
     <div class="group-58-265" name="Group">
      <div class="group-58-266" name="Group">
       <div class="group-58-267" name="Group">
       </div>
       <div class="group-58-268" name="Group">
        <div class="group-58-269" name="Group">
         <div class="group-58-270" name="Group">
         </div>
         <img class="vector-58-271" src="assets/images/core/baseline-creation-hybridcommon/vector-58_271.svg"/>
         <label class="text-58-274" type="text" value="TRADITIONAL">
          TRADITIONAL
         </label>
        </div>
        <div class="group-58-275" name="Group">
         <div class="group-58-276" name="Group">
         </div>
         <img class="vector-58-277" src="assets/images/core/baseline-creation-hybridcommon/vector-58_277.svg"/>
         <label class="text-58-280" type="text" value="HYBRID">
          HYBRID
         </label>
        </div>
        <div class="group-58-281" name="Group">
         <div class="group-58-282" name="Group">
         </div>
         <img class="vector-58-283" src="assets/images/core/baseline-creation-hybridcommon/vector-58_283.svg"/>
         <div class="textin-58-286" name="textin">
         </div>
        </div>
       </div>
       <div class="group-58-287" name="Group">
        <div class="group-58-288" name="Group">
        </div>
        <div class="group-58-289" name="Group">
         <img class="vector-58-290" src="assets/images/core/baseline-creation-hybridcommon/vector-58_290.svg"/>
         <label class="text-58-299" type="text" value="Shift Distribution Types">
          Shift Distribution Types
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-58-300" name="Group">
      <div class="group-58-301" name="Group">
       <div class="group-58-302" name="Group">
        <div class="group-58-303" name="Group">
        </div>
        <div class="group-58-304" name="Group">
         <label class="text-58-305" type="text" value="Emergency room">
          Emergency room
         </label>
        </div>
       </div>
       <div class="group-58-306" name="Group">
        <div class="group-58-307" name="Group">
         <div class="group-58-308" name="Group">
         </div>
         <div class="group-58-309" name="Group">
          <label class="text-58-310" type="text" value="Department type">
           Department type
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="group-58-311" name="Group">
       <div class="group-58-312" name="Group">
        <div class="group-58-313" name="Group">
        </div>
        <div class="group-58-314" name="Group">
         <label class="text-58-315" type="text" value="Site2_ED">
          Site2_ED
         </label>
        </div>
       </div>
       <div class="group-58-316" name="Group">
        <div class="group-58-317" name="Group">
         <div class="group-58-318" name="Group">
         </div>
         <div class="group-58-319" name="Group">
          <label class="text-58-320" type="text" value="Department group">
           Department group
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="group-58-321" name="Group">
       <div class="group-58-322" name="Group">
        <div class="group-58-323" name="Group">
        </div>
        <div class="group-58-324" name="Group">
         <label class="text-58-325" type="text" value="Registered Nurses">
          Registered Nurses
         </label>
        </div>
       </div>
       <div class="group-58-326" name="Group">
        <div class="group-58-327" name="Group">
         <div class="group-58-328" name="Group">
         </div>
         <div class="group-58-329" name="Group">
          <label class="text-58-330" type="text" value="Resource Group">
           Resource Group
          </label>
         </div>
        </div>
       </div>
      </div>
     </div>
     <img class="vector-58-331" src="assets/images/core/baseline-creation-hybridcommon/vector-58_331.svg"/>
     <div class="group-58-332" name="Group">
      <div class="group-58-333" name="Group">
      </div>
      <div class="group-58-334" name="Group">
       <div class="group-58-335" name="Group">
        <img class="vector-58-336" src="assets/images/core/baseline-creation-hybridcommon/vector-58_336.svg"/>
        <div class="group-58-340" name="Group">
         <label class="text-58-341" type="text" value="921409198-87861">
          921409198-87861
         </label>
         <div class="group-58-342" name="Group">
          <div class="group-58-343" name="Group">
          </div>
          <img class="vector-58-344" src="assets/images/core/baseline-creation-hybridcommon/vector-58_344.svg"/>
          <label class="text-58-346" type="text" value="Base Line ID">
           Base Line ID
          </label>
         </div>
        </div>
        <label class="text-58-347" type="text" value="Private">
         Private
        </label>
       </div>
       <label class="text-58-348" type="text" value="Base Line Name 001">
        Base Line Name 001
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
