<div class="coredashboard-1-2988" name="core@Dash board">
 <div class="group-1-2989" name="Group">
  <div class="group-1-2990" name="Group">
  </div>
  <label class="text-1-2991" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-1-2992" name="Group">
  <div class="group-1-2993" name="Group">
  </div>
  <img class="vector-1-2994" src="assets/images/core/dash-board/vector-1_2994.svg"/>
  <img class="vector-1-3003" src="assets/images/core/dash-board/vector-1_3003.svg"/>
  <div class="group-1-3010" name="Group">
   <div class="group-1-3011" name="Group">
   </div>
   <div class="group-1-3012" name="Group">
    <div class="group-1-3013" name="Group">
     <div class="group-1-3014" name="Group">
      <div class="group-1-3015" name="Group">
       <label class="text-1-3016" type="text" value="Emergency Room">
        Emergency Room
       </label>
       <div class="group-1-3017" name="Group">
        <label class="text-1-3018" type="text" value="Dept: Type">
         Dept: Type
        </label>
        <img class="vector-1-3019" src="assets/images/core/dash-board/vector-1_3019.svg"/>
       </div>
      </div>
      <div class="group-1-3023" name="Group">
       <div class="group-1-3024" name="Group">
        <img class="vector-1-3025" src="assets/images/core/dash-board/vector-1_3025.svg"/>
        <label class="text-1-3027" type="text" value="Site1_ED">
         Site1_ED
        </label>
        <label class="text-1-3028" type="text" value="Dept: Group">
         Dept: Group
        </label>
       </div>
      </div>
      <div class="group-1-3029" name="Group">
       <div class="group-1-3030" name="Group">
        <img class="vector-1-3031" src="assets/images/core/dash-board/vector-1_3031.svg"/>
        <label class="text-1-3033" type="text" value="Registered Nurses">
         Registered Nurses
        </label>
        <label class="text-1-3034" type="text" value="Resource Group">
         Resource Group
        </label>
        <div class="group-1-3035" name="Group">
         <div class="group-1-3036" name="Group">
          <div class="group-1-3037" name="Group">
          </div>
          <label class="text-1-3038" type="text" value="+3">
           +3
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-3039" name="Group">
       <div class="group-1-3040" name="Group">
        <img class="vector-1-3041" src="assets/images/core/dash-board/vector-1_3041.svg"/>
        <label class="text-1-3043" type="text" value="March 01,2023  10:33 AM">
         March 01,2023  10:33 AM
        </label>
        <label class="text-1-3044" type="text" value="Created On">
         Created On
        </label>
       </div>
      </div>
      <div class="group-1-3045" name="Group">
       <div class="group-1-3046" name="Group">
        <div class="group-1-3047" name="Group">
         <img class="vector-1-3048" src="assets/images/core/dash-board/vector-1_3048.svg"/>
         <label class="text-1-3050" type="text" value="921409198-87861">
          921409198-87861
         </label>
         <label class="text-1-3051" type="text" value="Base Line ID">
          Base Line ID
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-1-3052" name="Group">
      <div class="group-1-3053" name="Group">
       <div class="group-1-3054" name="Group">
        <div class="group-1-3055" name="Group">
         <div class="group-1-3056" name="Group">
          <div class="group-1-3057" name="Group">
           <label class="text-1-3058" type="text" value="Shift Duration">
            Shift Duration
           </label>
           <label class="text-1-3059" type="text" value="5-10">
            5-10
           </label>
           <img class="vector-1-3060" src="assets/images/core/dash-board/vector-1_3060.svg"/>
           <label class="text-1-3062" type="text" value="Hours">
            Hours
           </label>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-3063" name="Group">
       <div class="group-1-3064" name="Group">
        <div class="group-1-3065" name="Group">
         <label class="text-1-3066" type="text" value="Start Date ">
          Start Date
         </label>
         <div class="group-1-3067" name="Group">
          <label class="text-1-3068" type="text" value="03 Jan 2023">
           03 Jan 2023
          </label>
         </div>
         <img class="vector-1-3069" src="assets/images/core/dash-board/vector-1_3069.svg"/>
        </div>
       </div>
      </div>
      <div class="group-1-3071" name="Group">
       <div class="group-1-3072" name="Group">
        <div class="group-1-3073" name="Group">
         <img class="vector-1-3074" src="assets/images/core/dash-board/vector-1_3074.svg"/>
         <div class="group-1-3076" name="Group">
          <div class="group-1-3077" name="Group">
           <label class="text-1-3078" type="text" value="End Date">
            End Date
           </label>
          </div>
          <div class="group-1-3079" name="Group">
           <div class="group-1-3080" name="Group">
            <label class="text-1-3081" type="text" value="31 Jan  2023">
             31 Jan  2023
            </label>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-3082" name="Group">
       <div class="group-1-3083" name="Group">
        <div class="group-1-3084" name="Group">
         <div class="group-1-3085" name="Group">
          <label class="text-1-3086" type="text" value="Latest Start Time Scale ">
           Latest Start Time Scale
          </label>
          <label class="text-1-3087" type="text" value="03">
           03
          </label>
          <img class="vector-1-3088" src="assets/images/core/dash-board/vector-1_3088.svg"/>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-3090" name="Group">
       <div class="group-1-3091" name="Group">
        <div class="group-1-3092" name="Group">
         <label class="text-1-3093" type="text" value="Transition Scale ">
          Transition Scale
         </label>
         <label class="text-1-3094" type="text" value="03">
          03
         </label>
         <img class="vector-1-3095" src="assets/images/core/dash-board/vector-1_3095.svg"/>
        </div>
       </div>
      </div>
     </div>
    </div>
    <img class="vector-1-3101" src="assets/images/core/dash-board/vector-1_3101.svg"/>
   </div>
  </div>
  <img class="vector-1-3102" src="assets/images/core/dash-board/vector-1_3102.svg"/>
  <div class="group-1-3103" name="Group">
   <div class="group-1-3104" name="Group">
    <div class="group-1-3105" name="Group">
     <select class="dropdown-1-3106">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-1-3113" name="Group">
      <img class="vector-1-3114" src="assets/images/core/dash-board/vector-1_3114.svg"/>
      <label class="text-1-3115" type="text" value="3">
       3
      </label>
     </div>
    </div>
    <div class="group-1-3116" name="Group">
     <select class="dropdown-1-3117">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-1-3124" name="Group">
      <img class="vector-1-3125" src="assets/images/core/dash-board/vector-1_3125.svg"/>
      <label class="text-1-3126" type="text" value="8">
       8
      </label>
     </div>
    </div>
   </div>
   <div class="group-1-3127" name="Group">
    <div class="group-1-3128" name="Group">
     <button class="btn-1-3129" type="button">
      <img class="vector-1-3131" src="assets/images/core/dash-board/vector-1_3131.svg"/>
     </button>
     <label class="text-1-3142" type="text" value="St. Michael Medical Center: 921409198-87861">
      St. Michael Medical Center: 921409198-87861
     </label>
    </div>
    <button class="btn-1-3143" type="button">
     <img class="vector-1-3146" src="assets/images/core/dash-board/vector-1_3146.svg"/>
     Complete
    </button>
    <button class="btn-1-3148" type="button">
     <img class="vector-1-3150" src="assets/images/core/dash-board/vector-1_3150.svg"/>
    </button>
   </div>
  </div>
  <div class="group-1-3151" name="Group">
   <select class="dropdown-1-3152">
    <option selected="" value="">
     Department Baseline
    </option>
   </select>
   <div class="group-1-3157" name="Group">
    <div class="group-1-3158" name="Group">
     <button class="btn-1-3159" type="button">
      <img class="vector-1-3161" src="assets/images/core/dash-board/vector-1_3161.svg"/>
     </button>
     <button class="btn-1-3164" type="button">
      <img class="vector-1-3166" src="assets/images/core/dash-board/vector-1_3166.svg"/>
     </button>
     <button class="btn-1-3169" type="button">
      <img class="vector-1-3171" src="assets/images/core/dash-board/vector-1_3171.svg"/>
     </button>
     <button class="btn-1-3178" type="button">
      <img class="vector-1-3180" src="assets/images/core/dash-board/vector-1_3180.svg"/>
     </button>
     <button class="btn-1-3184" type="button">
      <img class="vector-1-3186" src="assets/images/core/dash-board/vector-1_3186.svg"/>
     </button>
     <button class="btn-1-3190" type="button">
      <img class="vector-1-3192" src="assets/images/core/dash-board/vector-1_3192.svg"/>
     </button>
    </div>
    <button class="btn-1-3194" type="button">
     <img class="vector-1-3196" src="assets/images/core/dash-board/vector-1_3196.svg"/>
    </button>
   </div>
   <select class="dropdown-1-3203">
    <option selected="" value="">
     Time Period
    </option>
   </select>
  </div>
  <div class="group-1-3207" name="Group">
   <div class="group-1-3208" name="Group">
   </div>
   <button class="btn-1-3209" type="button">
    <img class="vector-1-3211" src="assets/images/core/dash-board/vector-1_3211.svg"/>
   </button>
   <div class="group-1-3214" name="Group">
    <img class="vector-1-3215" src="assets/images/core/dash-board/vector-1_3215.svg"/>
    <label class="text-1-3220" type="text" value="Base Line">
     Base Line
    </label>
   </div>
  </div>
  <img class="vector-1-3221" src="assets/images/core/dash-board/vector-1_3221.svg"/>
  <div class="group-1-3462" name="Group">
   <div class="group-1-3463" name="Group">
    <label class="text-1-3464" type="text" value="Polaris Optimal">
     Polaris Optimal
    </label>
    <label class="text-1-3465" type="text" value="Cost savings">
     Cost savings
    </label>
    <label class="text-1-3466" type="text" value="$865 654">
     $865 654
    </label>
    <img class="vector-1-3467" src="assets/images/core/dash-board/vector-1_3467.svg"/>
    <div class="group-1-3469" name="Group">
     <img class="vector-1-3470" src="assets/images/core/dash-board/vector-1_3470.svg"/>
     <label class="text-1-3472" type="text" value="+ 3.3 %">
      + 3.3 %
     </label>
    </div>
    <img class="vector-1-3473" src="assets/images/core/dash-board/vector-1_3473.svg"/>
   </div>
  </div>
  <div class="group-1-3478" name="Group">
   <select class="dropdown-1-3479">
    <option selected="" value="">
     Shift Duration Time
    </option>
   </select>
   <button class="btn-1-3483" type="button">
    <img class="vector-1-3486" src="assets/images/core/dash-board/vector-1_3486.svg"/>
    What If Scenario A
   </button>
   <select class="dropdown-1-3489">
    <option selected="" value="">
     Day Of The Week
    </option>
   </select>
   <select class="dropdown-1-3493">
    <option selected="" value="">
     Resource Group
    </option>
   </select>
   <div class="group-1-3497" name="Group">
    <div class="group-1-3498" name="Group">
     <label class="text-1-3499" type="text" value="1D">
      1D
     </label>
     <label class="text-1-3500" type="text" value="1M">
      1M
     </label>
     <label class="text-1-3501" type="text" value="3M">
      3M
     </label>
     <label class="text-1-3502" type="text" value="6M">
      6M
     </label>
     <img class="vector-1-3503" src="assets/images/core/dash-board/vector-1_3503.svg"/>
     <label class="text-1-3505" type="text" value="7D">
      7D
     </label>
    </div>
   </div>
   <img class="vector-1-3506" src="assets/images/core/dash-board/vector-1_3506.svg"/>
   <select class="dropdown-1-3510">
    <option selected="" value="">
     View
    </option>
   </select>
  </div>
  <button class="btn-1-3514" type="button">
   <img class="vector-1-3517" src="assets/images/core/dash-board/vector-1_3517.svg"/>
   Create what-if analysis
  </button>
  <div class="group-1-3519" name="Group">
   <div class="group-1-3520" name="Group">
    <div class="group-1-3521" name="Group">
    </div>
    <div class="group-1-3522" name="Group">
     <div class="group-1-3523" name="Group">
     </div>
     <div class="group-1-3524" name="Group">
      <button class="btn-1-3525" type="button">
       <img class="vector-1-3527" src="assets/images/core/dash-board/vector-1_3527.svg"/>
      </button>
      <button class="btn-1-3529" type="button">
       <img class="vector-1-3531" src="assets/images/core/dash-board/vector-1_3531.svg"/>
      </button>
     </div>
     <div class="group-1-3534" name="Group">
      <label class="text-1-3535" type="text" value="Performance analysis">
       Performance analysis
      </label>
      <img class="vector-1-3536" src="assets/images/core/dash-board/vector-1_3536.svg"/>
     </div>
    </div>
   </div>
   <div class="group-1-3540" name="Group">
    <div class="group-1-3541" name="Group">
    </div>
    <label class="text-1-3542" type="text" value="Pending actual data for time period">
     Pending actual data for time period
    </label>
   </div>
   <img class="vector-1-3543" src="assets/images/core/dash-board/vector-1_3543.svg"/>
  </div>
 </div>
 <div class="group-1-3565" name="Group">
  <div class="group-1-3566" name="Group">
  </div>
  <label class="text-1-3567" type="text" value="Dash Board">
   Dash Board
  </label>
  <label class="text-1-3568" type="text" value="Information snippet and management from Base Line, What-if, and Performance analysis pages">
   Information snippet and management from Base Line, What-if, and Performance analysis pages
  </label>
  <img class="vector-1-3569" src="assets/images/core/dash-board/vector-1_3569.svg"/>
 </div>
 <div class="group-1-3570" name="Group">
  <div class="group-1-3571" name="Group">
  </div>
  <img class="vector-1-3572" src="assets/images/core/dash-board/vector-1_3572.svg"/>
  <img class="vector-1-3575" src="assets/images/core/dash-board/vector-1_3575.svg"/>
  <img class="vector-1-3600" src="assets/images/core/dash-board/vector-1_3600.svg"/>
  <img class="vector-1-3601" src="assets/images/core/dash-board/vector-1_3601.svg"/>
  <button class="btn-1-3606" type="button">
   <img class="vector-1-3609" src="assets/images/core/dash-board/vector-1_3609.svg"/>
   Create Baseline
  </button>
 </div>
</div>
