

.corebaselinecommon-6-21{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-6-22{
position:absolute ;width: 1143.0px; height: 926.0px;  background-color: rgba(0,0,0,0.0);top:194px; left: calc( ( ( 100% - 1440px) / 2 ) + 297px);background:''}

.group-6-23{
position:absolute ;width: 1151.0px; height: 1371.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 1px;background:''}

.group-6-24{
position:absolute ;width: 1142.0px; height: 375.205078125px;  background-color: rgba(0,0,0,0.0);top:550px; left: 0px;background:''}

.group-6-25{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:292px; left: 0px;background:''}

.group-6-26{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-27{
position:absolute ;width: 280.0px; height: 64.1015625px;  background-color: rgba(0,0,0,0.0);top:6px; left: 41px;background:''}

.vector-6-28{
position: absolute;left: 0.0px; top: 31.1015625px; width: 280.0px; height: 33.0}

.group-6-52{
position:absolute ;width: 230.9932861328125px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 25px;background:''}

.text-6-53{
position: absolute;
left: 0.0px;
 top: 7.55126953125px;
 width: 201.01736450195312px;
 height: 8.44873046875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-6-54{
position: absolute;left: 206.9932861328125px; top: 0.0px; width: 24.0px; height: 24.0}

.group-6-56{
position:absolute ;width: 837.0px; height: 103.0px;  background-color: rgba(0,0,0,0.0);top:164px; left: 1px;background:''}

.group-6-57{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-58{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-59{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-60{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:21px; left: 21px;background:''}

.group-6-61{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-62{
position:absolute ;width: 219.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.group-6-63{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-64{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-65{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-6-66{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-6-67{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-6-68{
position: absolute;
left: 9.0px;
 top: 10.7947998046875px;
 width: 24.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-6-69{
position: absolute;left: 48.0px; top: 8.7947998046875px;; width: 51.27471923828125px; height: 17.080810546875px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.group-6-72{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 113px;background:''}

.group-6-73{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-74{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-6-75{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-6-76{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-6-77{
position: absolute;
left: 16.0px;
 top: 10.7947998046875px;
 width: 11.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-6-78{
position: absolute;left: 48.0px; top: 8.7947998046875px;; width: 51.27471923828125px; height: 17.080810546875px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.text-6-81{
position: absolute;
left: 39.0px;
 top: 0.794677734375px;
 width: 141.0260009765625px;
 height: 15.3966064453125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-82{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 576px;background:''}

.group-6-83{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.vector-6-86{
position: relative; width: 16.0px; height: 16.0}

.btn-6-84{
position: absolute;
left: 27.0px;
 top: 35.0px;
 width: 197.0px;
 height: 28.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-6-88{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 289px;background:''}

.group-6-89{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-90{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-91{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:20px; left: 21px;background:''}

.group-6-92{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-93{
position:absolute ;width: 219.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.group-6-94{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-95{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-96{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-6-97{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-6-98{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-6-99{
position: absolute;
left: 9.0px;
 top: 10.9998779296875px;
 width: 24.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-6-100{
position: absolute;left: 48.0px; top: 8.9998779296875px;; width: 51.27471923828125px; height: 17.080810546875px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.group-6-103{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 113px;background:''}

.group-6-104{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-105{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-6-106{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-6-107{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-6-108{
position: absolute;
left: 16.0px;
 top: 10.9998779296875px;
 width: 11.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-6-109{
position: absolute;left: 48.0px; top: 8.9998779296875px;; width: 51.27471923828125px; height: 17.080810546875px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.text-6-112{
position: absolute;
left: 39.0px;
 top: 0.999755859375px;
 width: 141.0260009765625px;
 height: 15.3966064453125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-113{
position:absolute ;width: 1141.0px; height: 138.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-6-114{
position:absolute ;width: 1141.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:54px; left: 0px;background:''}

.group-6-115{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-116{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-117{
position:absolute ;width: 280.0px; height: 56.1043701171875px;  background-color: rgba(0,0,0,0.0);top:14px; left: 41px;background:''}

.text-6-118{
position: absolute;
left: 55.0px;
 top: 0.7940673828125px;
 width: 169.03305053710938px;
 height: 19.3773193359375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-6-119{
position: absolute;left: 0.0px; top: 23.8984375px; width: 280.0px; height: 33.0}

.group-6-143{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 390px;background:''}

.group-6-144{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-145{
position:absolute ;width: 224.0px; height: 56.115478515625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-6-146{
position: absolute;
left: 25.0px;
 top: 0.794677734375px;
 width: 173.0330810546875px;
 height: 19.3861083984375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-6-147{
position: absolute;left: 0.0px; top: 23.91015625px; width: 224.0px; height: 33.0}

.group-6-164{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 779px;background:''}

.group-6-165{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-166{
position:absolute ;width: 224.0px; height: 56.002685546875px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-6-167{
position: absolute;
left: 50.0px;
 top: 0.794189453125px;
 width: 123.033203125px;
 height: 19.2745361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-6-168{
position: absolute;left: 0.0px; top: 23.796875px; width: 224.0px; height: 33.0}

.group-6-185{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-186{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-6-187{
position:absolute ;width: 287.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-6-188{
position: absolute;left: 0.0px; top: 0.794921875px; width: 28.0px; height: 28.0}

.text-6-197{
position: absolute;
left: 43.0px;
 top: 6.794921875px;
 width: 244.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-198{
position:absolute ;width: 1142.0px; height: 301.0px;  background-color: rgba(0,0,0,0.0);top:216px; left: 0px;background:''}

.group-6-199{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:217px; left: 0px;background:''}

.group-6-200{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-201{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-202{
position:absolute ;width: 224.0px; height: 56.03125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-6-203{
position: absolute;
left: 44.0px;
 top: 0.765625px;
 width: 136.03314208984375px;
 height: 19.3035888671875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-6-204{
position: absolute;left: 0.0px; top: 23.796875px; width: 224.0px; height: 33.0}

.group-6-221{
position:absolute ;width: 1142.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 0px;background:''}

.group-6-222{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 877px;background:''}

.group-6-223{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-224{
position:absolute ;width: 99.0px; height: 58.8170166015625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 83px;border-radius: 5.0px;background:''}

.text-6-225{
position: absolute;
left: 7.0px;
 top: 0.7943115234375px;
 width: 84.0333251953125px;
 height: 19.1875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-226{
position:absolute ;width: 99.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;border-radius: 5.0px;background:''}

.text-6-227{
position: absolute;
left: 39.0px;
 top: 8.794921875px;
 width: 18.0px;
 height: 14.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-6-230{
position: relative; width: 8.0px; height: 3.0}

.btn-6-228{
position: absolute;
left: 0.0px;
 top: 0.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-6-233{
position: relative; width: 12.0px; height: 12.0}

.btn-6-231{
position: absolute;
left: 69.0px;
 top: 0.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-6-234{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-235{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-236{
position:absolute ;width: 123.03317260742188px; height: 62.000732421875px;  background-color: rgba(0,0,0,0.0);top:13px; left: 71px;border-radius: 5.0px;background:''}

.text-6-237{
position: absolute;
left: 0.0px;
 top: 0.794189453125px;
 width: 123.03317260742188px;
 height: 19.2745361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-238{
position:absolute ;width: 87.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:28px; left: 18px;border-radius: 5.0px;background:''}

.text-6-239{
position: absolute;
left: 39.0px;
 top: 0.794921875px;
 width: 9.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-6-242{
position: relative; width: 8.0px; height: 3.0}

.btn-6-240{
position: absolute;
left: 0.0px;
 top: 2.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-6-245{
position: relative; width: 12.0px; height: 12.0}

.btn-6-243{
position: absolute;
left: 57.0px;
 top: 2.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-6-246{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 292px;background:''}

.group-6-247{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-248{
position:absolute ;width: 123.0px; height: 58.95751953125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-6-249{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 28.60546875px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-6-249::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-6-249{
position: absolute;left: 23.0px; top: 0.79541015625px; width: 76.0333251953125px; height: 19.1695556640625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-6-252{
position: absolute;left: 98.0px; top: 35.6387939453125px; width: 15.0px; height: 16.7459716796875}

.group-6-259{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 584px;background:''}

.group-6-260{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-6-261{
position:absolute ;width: 123.0px; height: 58.9306640625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-6-262{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 28.578125px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-6-262::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-6-262{
position: absolute;left: 30.0px; top: 0.794921875px; width: 63.0333251953125px; height: 19.140625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-6-265{
position: absolute;left: 98.0px; top: 35.6114501953125px; width: 15.0px; height: 16.7459716796875}

.group-6-272{
position:absolute ;width: 1141.0px; height: 97.205078125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-6-273{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-6-274{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-6-275{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;background:''}

.group-6-276{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-277{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-6-278{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-6-281{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 98.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-282{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 160px;background:''}

.group-6-283{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(230,243,254,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(33, 150, 243, 1.0);border-style:solid;background:''}

.vector-6-284{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-6-287{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 54.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-288{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 279px;background:''}

.group-6-289{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(240,240,240,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-6-290{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-6-293{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 65.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-294{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-295{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-6-296{
position:absolute ;width: 265.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-6-297{
position: absolute;left: 0.0px; top: 0.794921875px; width: 28.0px; height: 28.0}

.text-6-306{
position: absolute;
left: 43.0px;
 top: 6.794921875px;
 width: 222.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-307{
position:absolute ;width: 1141.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:86px; left: 1px;background:''}

.group-6-308{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-309{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-6-310{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-6-311{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-6-312{
position: absolute;
left: 0.0px;
 top: 6.6290283203125px;
 width: 140.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-6-313{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-314{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-315{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-6-316{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-6-317{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-318{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 384px;background:''}

.group-6-319{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-6-320{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-6-321{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-6-322{
position: absolute;
left: 0.0px;
 top: 6.6290283203125px;
 width: 66.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-6-323{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-324{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-325{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-6-326{
position:absolute ;width: 172.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-6-327{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 172.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-6-328{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 767px;background:''}

.group-6-329{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-6-330{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-6-331{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-6-332{
position: absolute;
left: 0.0px;
 top: 6.6290283203125px;
 width: 150.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-6-333{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-334{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-335{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-6-336{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-6-337{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-6-338{
position: absolute;left: 1.0px; top: 70.5px; width: 1141.0px; height: 1.0}

.group-6-339{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 1px;background:''}

.group-6-340{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-6-341{
position:absolute ;width: 351.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:13px; left: 20px;background:''}

.group-6-342{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:2px; left: 809px;background:''}

.vector-6-343{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.group-6-347{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-6-348{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-6-349{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-6-350{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-6-351{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-6-353{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-6-354{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-6-355{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 147.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-6-356{
position:absolute ;width: 175.0px; height: 40.047607421875px;  background-color: rgba(0,0,0,0.0);top:1146px; left: calc( ( ( 100% - 1440px) / 2 ) + 1266px);border-radius: 2.0px;background:''}

.btn-6-357{
position: absolute;
left: 95.0px;
 top: 0.0px;
 width: 80.0px;
 height: 40.047607421875px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.btn-6-360{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 81.0px;
 height: 40.047607421875px;
border-radius: 2.0px; background-color: rgba(214, 214, 214, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}