<div class="corebaselinecommon-6-21" name="core@Baseline#common">
 <div class="group-6-22" name="Group">
  <div class="group-6-23" name="Group">
  </div>
  <div class="group-6-24" name="Group">
   <div class="group-6-25" name="Group">
    <div class="group-6-26" name="Group">
    </div>
    <div class="group-6-27" name="Group">
     <img class="vector-6-28" src="assets/images/core/baseline/vector-6_28.svg"/>
     <div class="group-6-52" name="Group">
      <label class="text-6-53" type="text" value="Non-Traditional Resources">
       Non-Traditional Resources
      </label>
      <img class="vector-6-54" src="assets/images/core/baseline/vector-6_54.svg"/>
     </div>
    </div>
   </div>
   <div class="group-6-56" name="Group">
    <div class="group-6-57" name="Group">
     <div class="group-6-58" name="Group">
      <div class="group-6-59" name="Group">
      </div>
      <div class="group-6-60" name="Group">
       <div class="group-6-61" name="Group">
        <div class="group-6-62" name="Group">
         <div class="group-6-63" name="Group">
          <div class="group-6-64" name="Group">
           <div class="group-6-65" name="Group">
           </div>
           <div class="group-6-66" name="Group">
            <div class="group-6-67" name="Group">
            </div>
            <label class="text-6-68" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-6-69">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-6-72" name="Group">
          <div class="group-6-73" name="Group">
           <div class="group-6-74" name="Group">
           </div>
           <div class="group-6-75" name="Group">
            <div class="group-6-76" name="Group">
            </div>
            <label class="text-6-77" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-6-78">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-6-81" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-6-82" name="Group">
     <div class="group-6-83" name="Group">
     </div>
     <button class="btn-6-84" type="button">
      <img class="vector-6-86" src="assets/images/core/baseline/vector-6_86.svg"/>
     </button>
    </div>
    <div class="group-6-88" name="Group">
     <div class="group-6-89" name="Group">
      <div class="group-6-90" name="Group">
      </div>
      <div class="group-6-91" name="Group">
       <div class="group-6-92" name="Group">
        <div class="group-6-93" name="Group">
         <div class="group-6-94" name="Group">
          <div class="group-6-95" name="Group">
           <div class="group-6-96" name="Group">
           </div>
           <div class="group-6-97" name="Group">
            <div class="group-6-98" name="Group">
            </div>
            <label class="text-6-99" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-6-100">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-6-103" name="Group">
          <div class="group-6-104" name="Group">
           <div class="group-6-105" name="Group">
           </div>
           <div class="group-6-106" name="Group">
            <div class="group-6-107" name="Group">
            </div>
            <label class="text-6-108" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-6-109">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-6-112" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="group-6-113" name="Group">
    <div class="group-6-114" name="Group">
     <div class="group-6-115" name="Group">
      <div class="group-6-116" name="Group">
      </div>
      <div class="group-6-117" name="Group">
       <label class="text-6-118" type="text" value="Minimum Shift Duration">
        Minimum Shift Duration
       </label>
       <img class="vector-6-119" src="assets/images/core/baseline/vector-6_119.svg"/>
      </div>
     </div>
     <div class="group-6-143" name="Group">
      <div class="group-6-144" name="Group">
      </div>
      <div class="group-6-145" name="Group">
       <label class="text-6-146" type="text" value="Maximum Shift Duration">
        Maximum Shift Duration
       </label>
       <img class="vector-6-147" src="assets/images/core/baseline/vector-6_147.svg"/>
      </div>
     </div>
     <div class="group-6-164" name="Group">
      <div class="group-6-165" name="Group">
      </div>
      <div class="group-6-166" name="Group">
       <label class="text-6-167" type="text" value="latest Start Time">
        latest Start Time
       </label>
       <img class="vector-6-168" src="assets/images/core/baseline/vector-6_168.svg"/>
      </div>
     </div>
    </div>
    <div class="group-6-185" name="Group">
     <div class="group-6-186" name="Group">
     </div>
     <div class="group-6-187" name="Group">
      <img class="vector-6-188" src="assets/images/core/baseline/vector-6_188.svg"/>
      <label class="text-6-197" type="text" value="Pre- Determined Variables">
       Pre- Determined Variables
      </label>
     </div>
    </div>
   </div>
  </div>
  <div class="group-6-198" name="Group">
   <div class="group-6-199" name="Group">
    <div class="group-6-200" name="Group">
     <div class="group-6-201" name="Group">
     </div>
     <div class="group-6-202" name="Group">
      <label class="text-6-203" type="text" value="EARLIEST Start Time">
       EARLIEST Start Time
      </label>
      <img class="vector-6-204" src="assets/images/core/baseline/vector-6_204.svg"/>
     </div>
    </div>
   </div>
   <div class="group-6-221" name="Group">
    <div class="group-6-222" name="Group">
     <div class="group-6-223" name="Group">
     </div>
     <div class="group-6-224" name="Group">
      <label class="text-6-225" type="text" value="ratio scale">
       ratio scale
      </label>
      <div class="group-6-226" name="Group">
       <label class="text-6-227" type="text" value="1.0">
        1.0
       </label>
       <button class="btn-6-228" type="button">
        <img class="vector-6-230" src="assets/images/core/baseline/vector-6_230.svg"/>
       </button>
       <button class="btn-6-231" type="button">
        <img class="vector-6-233" src="assets/images/core/baseline/vector-6_233.svg"/>
       </button>
      </div>
     </div>
    </div>
    <div class="group-6-234" name="Group">
     <div class="group-6-235" name="Group">
     </div>
     <div class="group-6-236" name="Group">
      <label class="text-6-237" type="text" value="Number of Weeks">
       Number of Weeks
      </label>
      <div class="group-6-238" name="Group">
       <label class="text-6-239" type="text" value="3">
        3
       </label>
       <button class="btn-6-240" type="button">
        <img class="vector-6-242" src="assets/images/core/baseline/vector-6_242.svg"/>
       </button>
       <button class="btn-6-243" type="button">
        <img class="vector-6-245" src="assets/images/core/baseline/vector-6_245.svg"/>
       </button>
      </div>
     </div>
    </div>
    <div class="group-6-246" name="Group">
     <div class="group-6-247" name="Group">
     </div>
     <div class="group-6-248" name="Group">
      <br/>
      <label class="calendar-6-249" for="html">
       start date
      </label>
      <input class="input-6-249" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-6-252" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/587bb103-4ab1-47d5-ba8b-6265b8fe21ed"/>
     </div>
    </div>
    <div class="group-6-259" name="Group">
     <div class="group-6-260" name="Group">
     </div>
     <div class="group-6-261" name="Group">
      <br/>
      <label class="calendar-6-262" for="html">
       end date
      </label>
      <input class="input-6-262" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-6-265" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/21d153ae-80ee-4db7-b065-42633fd0a08c"/>
     </div>
    </div>
   </div>
   <div class="group-6-272" name="Group">
    <div class="group-6-273" name="Group">
     <div class="group-6-274" name="Group">
     </div>
     <div class="group-6-275" name="Group">
      <div class="group-6-276" name="Group">
       <div class="group-6-277" name="Group">
       </div>
       <img class="vector-6-278" src="assets/images/core/baseline/vector-6_278.svg"/>
       <label class="text-6-281" type="text" value="TRADITIONAL">
        TRADITIONAL
       </label>
      </div>
      <div class="group-6-282" name="Group">
       <div class="group-6-283" name="Group">
       </div>
       <img class="vector-6-284" src="assets/images/core/baseline/vector-6_284.svg"/>
       <label class="text-6-287" type="text" value="HYBRID">
        HYBRID
       </label>
      </div>
      <div class="group-6-288" name="Group">
       <div class="group-6-289" name="Group">
       </div>
       <img class="vector-6-290" src="assets/images/core/baseline/vector-6_290.svg"/>
       <label class="text-6-293" type="text" value="OPTIMAL">
        OPTIMAL
       </label>
      </div>
     </div>
    </div>
    <div class="group-6-294" name="Group">
     <div class="group-6-295" name="Group">
     </div>
     <div class="group-6-296" name="Group">
      <img class="vector-6-297" src="assets/images/core/baseline/vector-6_297.svg"/>
      <label class="text-6-306" type="text" value="Shift Distribution Types">
       Shift Distribution Types
      </label>
     </div>
    </div>
   </div>
  </div>
  <div class="group-6-307" name="Group">
   <div class="group-6-308" name="Group">
    <div class="group-6-309" name="Group">
     <div class="group-6-310" name="Group">
     </div>
     <div class="group-6-311" name="Group">
      <label class="text-6-312" type="text" value="Emergency room">
       Emergency room
      </label>
     </div>
    </div>
    <div class="group-6-313" name="Group">
     <div class="group-6-314" name="Group">
      <div class="group-6-315" name="Group">
      </div>
      <div class="group-6-316" name="Group">
       <label class="text-6-317" type="text" value="Department type">
        Department type
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-6-318" name="Group">
    <div class="group-6-319" name="Group">
     <div class="group-6-320" name="Group">
     </div>
     <div class="group-6-321" name="Group">
      <label class="text-6-322" type="text" value="Site2_ED">
       Site2_ED
      </label>
     </div>
    </div>
    <div class="group-6-323" name="Group">
     <div class="group-6-324" name="Group">
      <div class="group-6-325" name="Group">
      </div>
      <div class="group-6-326" name="Group">
       <label class="text-6-327" type="text" value="Department group">
        Department group
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-6-328" name="Group">
    <div class="group-6-329" name="Group">
     <div class="group-6-330" name="Group">
     </div>
     <div class="group-6-331" name="Group">
      <label class="text-6-332" type="text" value="Registered Nurses">
       Registered Nurses
      </label>
     </div>
    </div>
    <div class="group-6-333" name="Group">
     <div class="group-6-334" name="Group">
      <div class="group-6-335" name="Group">
      </div>
      <div class="group-6-336" name="Group">
       <label class="text-6-337" type="text" value="Resource Group">
        Resource Group
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <img class="vector-6-338" src="assets/images/core/baseline/vector-6_338.svg"/>
  <div class="group-6-339" name="Group">
   <div class="group-6-340" name="Group">
   </div>
   <div class="group-6-341" name="Group">
    <div class="group-6-342" name="Group">
     <img class="vector-6-343" src="assets/images/core/baseline/vector-6_343.svg"/>
     <div class="group-6-347" name="Group">
      <label class="text-6-348" type="text" value="921409198-87861">
       921409198-87861
      </label>
      <div class="group-6-349" name="Group">
       <div class="group-6-350" name="Group">
       </div>
       <img class="vector-6-351" src="assets/images/core/baseline/vector-6_351.svg"/>
       <label class="text-6-353" type="text" value="Base Line ID">
        Base Line ID
       </label>
      </div>
     </div>
     <label class="text-6-354" type="text" value="Private">
      Private
     </label>
    </div>
    <label class="text-6-355" type="text" value="Base Line Name 001">
     Base Line Name 001
    </label>
   </div>
  </div>
 </div>
 <div class="group-6-356" name="Group">
  <button class="btn-6-357" type="button">
   Next
  </button>
  <button class="btn-6-360" type="button">
   Cancel
  </button>
 </div>
</div>
