<div class="corebaseline-110-2521" name="core@Baseline">
 <div class="group-110-2522" name="Group">
  <div class="group-110-2523" name="Group">
  </div>
  <div class="group-110-2524" name="Group ">
   <div class="group-110-2698" name="Group">
    <div class="group-110-2699" name="Group">
     <div class="group-110-2700" name="Group">
      <div class="group-110-2701" name="Group">
      </div>
      <div class="group-110-2702" name="Group">
       <label class="text-110-2703" type="text" value="EARLIEST Start Time">
        EARLIEST Start Time
       </label>
       <img class="vector-110-2704" src="assets/images/core/baseline/vector-110_2704.svg"/>
      </div>
     </div>
    </div>
    <div class="group-110-2721" name="Group">
     <div class="group-110-2722" name="Group">
      <div class="group-110-2723" name="Group">
      </div>
      <div class="group-110-2724" name="Group">
       <label class="text-110-2725" type="text" value="ratio scale">
        ratio scale
       </label>
       <div class="group-110-2726" name="Group">
        <label class="text-110-2727" type="text" value="1.0">
         1.0
        </label>
        <button class="btn-110-2728" type="button">
         <img class="vector-110-2730" src="assets/images/core/baseline/vector-110_2730.svg"/>
        </button>
        <button class="btn-110-2731" type="button">
         <img class="vector-110-2733" src="assets/images/core/baseline/vector-110_2733.svg"/>
        </button>
       </div>
      </div>
     </div>
     <div class="group-110-2734" name="Group">
      <div class="group-110-2735" name="Group">
      </div>
      <div class="group-110-2736" name="Group">
       <label class="text-110-2737" type="text" value="Number of Weeks">
        Number of Weeks
       </label>
       <div class="group-110-2738" name="Group">
        <label class="text-110-2739" type="text" value="3">
         3
        </label>
        <button class="btn-110-2740" type="button">
         <img class="vector-110-2742" src="assets/images/core/baseline/vector-110_2742.svg"/>
        </button>
        <button class="btn-110-2743" type="button">
         <img class="vector-110-2745" src="assets/images/core/baseline/vector-110_2745.svg"/>
        </button>
       </div>
      </div>
     </div>
     <div class="group-110-2746" name="Group">
      <div class="group-110-2747" name="Group">
      </div>
      <div class="group-110-2748" name="Group">
       <br/>
       <label class="calendar-110-2749" for="html">
        start date
       </label>
       <input class="input-110-2749" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
       <br/>
       <img class="vector-110-2752" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/5d0e242c-545b-42b0-8968-6ade5603f7de"/>
      </div>
     </div>
     <div class="group-110-2759" name="Group">
      <div class="group-110-2760" name="Group">
      </div>
      <div class="group-110-2761" name="Group">
       <br/>
       <label class="calendar-110-2762" for="html">
        end date
       </label>
       <input class="input-110-2762" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
       <br/>
       <img class="vector-110-2765" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/68153686-35cc-43c2-a69c-7966608ad6e4"/>
      </div>
     </div>
    </div>
    <div class="group-110-2772" name="Group">
     <div class="group-110-2773" name="Group">
      <div class="group-110-2774" name="Group">
      </div>
      <div class="group-110-2775" name="Group">
       <div class="group-110-2776" name="Group">
        <div class="group-110-2777" name="Group">
        </div>
        <img class="vector-110-2778" src="assets/images/core/baseline/vector-110_2778.svg"/>
        <label class="text-110-2781" type="text" value="TRADITIONAL">
         TRADITIONAL
        </label>
       </div>
       <div class="group-110-2782" name="Group">
        <div class="group-110-2783" name="Group">
        </div>
        <img class="vector-110-2784" src="assets/images/core/baseline/vector-110_2784.svg"/>
        <label class="text-110-2787" type="text" value="HYBRID">
         HYBRID
        </label>
       </div>
       <div class="group-110-2788" name="Group">
        <div class="group-110-2789" name="Group">
        </div>
        <img class="vector-110-2790" src="assets/images/core/baseline/vector-110_2790.svg"/>
        <label class="text-110-2793" type="text" value="OPTIMAL">
         OPTIMAL
        </label>
       </div>
      </div>
     </div>
     <div class="group-110-2794" name="Group">
      <div class="group-110-2795" name="Group">
      </div>
      <div class="group-110-2796" name="Group">
       <img class="vector-110-2797" src="assets/images/core/baseline/vector-110_2797.svg"/>
       <label class="text-110-2806" type="text" value="Shift Distribution Types">
        Shift Distribution Types
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-110-2807" name="Group">
    <div class="group-110-2808" name="Group">
     <div class="group-110-2809" name="Group">
      <div class="group-110-2810" name="Group">
      </div>
      <div class="group-110-2811" name="Group">
       <label class="text-110-2812" type="text" value="Emergency room">
        Emergency room
       </label>
      </div>
     </div>
     <div class="group-110-2813" name="Group">
      <div class="group-110-2814" name="Group">
       <div class="group-110-2815" name="Group">
       </div>
       <div class="group-110-2816" name="Group">
        <label class="text-110-2817" type="text" value="Department type">
         Department type
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-110-2818" name="Group">
     <div class="group-110-2819" name="Group">
      <div class="group-110-2820" name="Group">
      </div>
      <div class="group-110-2821" name="Group">
       <label class="text-110-2822" type="text" value="Site2_ED">
        Site2_ED
       </label>
      </div>
     </div>
     <div class="group-110-2823" name="Group">
      <div class="group-110-2824" name="Group">
       <div class="group-110-2825" name="Group">
       </div>
       <div class="group-110-2826" name="Group">
        <label class="text-110-2827" type="text" value="Department group">
         Department group
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-110-2828" name="Group">
     <div class="group-110-2829" name="Group">
      <div class="group-110-2830" name="Group">
      </div>
      <div class="group-110-2831" name="Group">
       <label class="text-110-2832" type="text" value="Registered Nurses">
        Registered Nurses
       </label>
      </div>
     </div>
     <div class="group-110-2833" name="Group">
      <div class="group-110-2834" name="Group">
       <div class="group-110-2835" name="Group">
       </div>
       <div class="group-110-2836" name="Group">
        <label class="text-110-2837" type="text" value="Resource Group">
         Resource Group
        </label>
       </div>
      </div>
     </div>
    </div>
   </div>
   <img class="vector-110-2838" src="assets/images/core/baseline/vector-110_2838.svg"/>
   <div class="group-110-2839" name="Group">
    <div class="group-110-2840" name="Group">
    </div>
    <div class="group-110-2841" name="Group">
     <div class="group-110-2842" name="Group">
      <img class="vector-110-2843" src="assets/images/core/baseline/vector-110_2843.svg"/>
      <div class="group-110-2847" name="Group">
       <label class="text-110-2848" type="text" value="921409198-87861">
        921409198-87861
       </label>
       <div class="group-110-2849" name="Group">
        <div class="group-110-2850" name="Group">
        </div>
        <img class="vector-110-2851" src="assets/images/core/baseline/vector-110_2851.svg"/>
        <label class="text-110-2853" type="text" value="Base Line ID">
         Base Line ID
        </label>
       </div>
      </div>
      <label class="text-110-2854" type="text" value="Private">
       Private
      </label>
     </div>
     <label class="text-110-2855" type="text" value="Base Line Name 001">
      Base Line Name 001
     </label>
    </div>
   </div>
  </div>
  <div class="group-110-2856" name="Group">
   <button class="btn-110-2857" type="button">
    Next
   </button>
   <button class="btn-110-2860" type="button">
    Cancel
   </button>
  </div>
 </div>
</div>
