<div class="testcreatebase-104-2424" name="test@create Base">
 <div class="group-104-2425" name="Group">
  <div class="group-104-2426" name="Group">
  </div>
  <label class="text-104-2427" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-104-2428" name="Group">
  <div class="group-104-2429" name="Group">
    
  </div>
 </div>
 <div class="group-104-2430" name="Group">
  <div class="group-104-2431" name="Group">
   <div class="group-104-2432" name="Group">
   </div>
   <img class="vector-104-2433" src="assets/images/test/create-base/vector-104_2433.svg"/>
   <button class="btn-104-2440" type="button">
    <img class="vector-104-2443" src="assets/images/test/create-base/vector-104_2443.svg"/>
    schedule type
   </button>
   <button class="btn-104-2445" type="button">
    <img class="vector-104-2448" src="assets/images/test/create-base/vector-104_2448.svg"/>
    Distribution type
   </button>
   <button class="btn-104-2450" type="button">
    <img class="vector-104-2453" src="assets/images/test/create-base/vector-104_2453.svg"/>
    Shift Distribution
   </button>
  </div>
  <div class="group-104-2455" name="Group">
  </div>
  <div class="group-104-2456" name="Group">
   <label class="text-104-2457" type="text" value="Pick Base lines if you want">
    Pick Base lines if you want
   </label>
   <img class="vector-104-2458" src="assets/images/test/create-base/vector-104_2458.svg"/>
  </div>
  <div class="new"><app-baseline></app-baseline></div>
  
 </div>
 <div class="group-104-2463" name="Group">
  <div class="group-104-2464" name="Group">
  </div>
  <label class="text-104-2465" type="text" value="create What-if Analysis">
   create What-if Analysis
  </label>
  <label class="text-104-2466" type="text" value="Steps to create a new What-if Analysis">
   Steps to create a new What-if Analysis
  </label>
  <img class="vector-104-2467" src="assets/images/test/create-base/vector-104_2467.svg"/>
 </div>
 <div class="group-104-2468" name="Group">
  <div class="group-104-2469" name="Group">
  </div>
  <img class="vector-104-2470" src="assets/images/test/create-base/vector-104_2470.svg"/>
  <img class="vector-104-2473" src="assets/images/test/create-base/vector-104_2473.svg"/>
  <img class="vector-104-2498" src="assets/images/test/create-base/vector-104_2498.svg"/>
  <img class="vector-104-2499" src="assets/images/test/create-base/vector-104_2499.svg"/>
  <button class="btn-104-2503" type="button">
   <img class="vector-104-2506" src="assets/images/test/create-base/vector-104_2506.svg"/>
   back to dashboard
  </button>
 </div>
</div>
