

.frame-106-360{
position:'' ;width: 100%; height: auto;  background-color: rgba(255,255,255,1.0);top:0px; left: 0;background:''}

.group-106-702{
position:absolute ;width: 1143.0px; height: 926.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-106-703{
position:absolute ;width: 1151.0px; height: 1125.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 1px;background:''}

.group-106-704{
position:absolute ;width: 1142.0px; height: 375.205078125px;  background-color: rgba(0,0,0,0.0);top:550px; left: 0px;background:''}

.group-106-877{
position:absolute ;width: 1142.0px; height: 301.0px;  background-color: rgba(0,0,0,0.0);top:216px; left: 0px;background:''}

.group-106-878{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:217px; left: 0px;background:''}

.group-106-879{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-880{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-106-881{
position:absolute ;width: 224.0px; height: 56.03118896484375px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-106-882{
position: absolute;
left: 44.0px;
 top: 0.765625px;
 width: 136.03314208984375px;
 height: 19.30352783203125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-106-883{
position: absolute;left: 0.0px; top: 23.79681396484375px; width: 224.0px; height: 33.0}

.group-106-900{
position:absolute ;width: 1142.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 0px;background:''}

.group-106-901{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 877px;background:''}

.group-106-902{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-106-903{
position:absolute ;width: 99.0px; height: 58.8170166015625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 83px;border-radius: 5.0px;background:''}

.text-106-904{
position: absolute;
left: 7.0px;
 top: 0.7943115234375px;
 width: 84.03326416015625px;
 height: 19.1875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-106-905{
position:absolute ;width: 99.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;border-radius: 5.0px;background:''}

.text-106-906{
position: absolute;
left: 39.0px;
 top: 8.794921875px;
 width: 18.0px;
 height: 14.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-106-909{
position: relative; width: 8.0px; height: 3.0}

.btn-106-907{
position: absolute;
left: 0.0px;
 top: 0.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-106-912{
position: relative; width: 12.0px; height: 12.0}

.btn-106-910{
position: absolute;
left: 69.0px;
 top: 0.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-106-913{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-914{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-106-915{
position:absolute ;width: 123.03317260742188px; height: 62.000732421875px;  background-color: rgba(0,0,0,0.0);top:13px; left: 71px;border-radius: 5.0px;background:''}

.text-106-916{
position: absolute;
left: 0.0px;
 top: 0.79412841796875px;
 width: 123.03317260742188px;
 height: 19.2745361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-106-917{
position:absolute ;width: 87.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:28px; left: 18px;border-radius: 5.0px;background:''}

.text-106-918{
position: absolute;
left: 39.0px;
 top: 0.794921875px;
 width: 9.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-106-921{
position: relative; width: 8.0px; height: 3.0}

.btn-106-919{
position: absolute;
left: 0.0px;
 top: 2.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-106-924{
position: relative; width: 12.0px; height: 12.0}

.btn-106-922{
position: absolute;
left: 57.0px;
 top: 2.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-106-925{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 292px;background:''}

.group-106-926{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-106-927{
position:absolute ;width: 123.0px; height: 58.95758056640625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-106-928{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 28.60546875px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-106-928::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-106-928{
position: absolute;left: 23.0px; top: 0.79534912109375px; width: 76.03329467773438px; height: 19.16961669921875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-106-931{
position: absolute;left: 98.0px; top: 35.63873291015625px; width: 15.0px; height: 16.74591064453125}

.group-106-938{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 584px;background:''}

.group-106-939{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-106-940{
position:absolute ;width: 123.0px; height: 58.9306640625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-106-941{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 28.578125px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-106-941::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-106-941{
position: absolute;left: 30.0px; top: 0.794921875px; width: 63.0333251953125px; height: 19.140625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-106-944{
position: absolute;left: 98.0px; top: 35.6114501953125px; width: 15.0px; height: 16.74591064453125}

.group-106-951{
position:absolute ;width: 1141.0px; height: 97.205078125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-106-952{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-106-953{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-106-954{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;background:''}

.group-106-955{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-956{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-106-957{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-106-960{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 98.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-106-961{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 160px;background:''}

.group-106-962{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(230,243,254,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(33, 150, 243, 1.0);border-style:solid;background:''}

.vector-106-963{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-106-966{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 54.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-106-967{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 279px;background:''}

.group-106-968{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(240,240,240,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-106-969{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-106-972{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 65.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-106-973{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-974{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-106-975{
position:absolute ;width: 265.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-106-976{
position: absolute;left: 0.0px; top: 0.794921875px; width: 28.0px; height: 28.0}

.text-106-985{
position: absolute;
left: 43.0px;
 top: 6.794921875px;
 width: 222.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-106-986{
position:absolute ;width: 1141.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:86px; left: 1px;background:''}

.group-106-987{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-988{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-106-989{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-106-990{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-106-991{
position: absolute;
left: 0.0px;
 top: 6.62908935546875px;
 width: 140.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-106-992{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-993{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-994{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-106-995{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-106-996{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-106-997{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 384px;background:''}

.group-106-998{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-106-999{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-106-1000{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-106-1001{
position: absolute;
left: 0.0px;
 top: 6.62908935546875px;
 width: 66.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-106-1002{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-1003{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-1004{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-106-1005{
position:absolute ;width: 172.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-106-1006{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 172.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-106-1007{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 767px;background:''}

.group-106-1008{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-106-1009{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-106-1010{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-106-1011{
position: absolute;
left: 0.0px;
 top: 6.62908935546875px;
 width: 150.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-106-1012{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-1013{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-1014{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-106-1015{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-106-1016{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-106-1017{
position: absolute;left: 1.0px; top: 70.5px; width: 1141.0px; height: 1.0}

.group-106-1018{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 1px;background:''}

.group-106-1019{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-106-1020{
position:absolute ;width: 351.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:13px; left: 20px;background:''}

.group-106-1021{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:2px; left: 809px;background:''}

.vector-106-1022{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.group-106-1026{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-106-1027{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-106-1028{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-106-1029{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-106-1030{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-106-1032{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-106-1033{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-106-1034{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 147.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-106-1036{
position:absolute ;width: 176.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:976px; left: calc( ( ( 100% - 1440px) / 2 ) + 916px);border-radius: 2.0px;background:''}

.group-106-1037{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 95px;border-radius: 2.0px;background:''}

.group-106-1038{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-106-1039{
position: absolute;
left: 23.0px;
 top: 15.0px;
 width: 36.0px;
 height: 10.047607421875px;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-106-1040{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-106-1041{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(214,214,214,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-106-1042{
position: absolute;
left: 11.0px;
 top: 15.0px;
 width: 59.0px;
 height: 10.047607421875px;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}