<div class="frame-106-360" name="Frame 1">
 <div class="group-106-702" name="Group">
  <div class="group-106-703" name="Group">
  </div>
  <div class="group-106-704" name="Group ">
   <div class="group-106-877" name="Group">
    <div class="group-106-878" name="Group">
     <div class="group-106-879" name="Group">
      <div class="group-106-880" name="Group">
      </div>
      <div class="group-106-881" name="Group">
       <label class="text-106-882" type="text" value="EARLIEST Start Time">
        EARLIEST Start Time
       </label>
       <img class="vector-106-883" src="assets/images/Modules/frame/vector-106_883.svg"/>
      </div>
     </div>
    </div>
    <div class="group-106-900" name="Group">
     <div class="group-106-901" name="Group">
      <div class="group-106-902" name="Group">
      </div>
      <div class="group-106-903" name="Group">
       <label class="text-106-904" type="text" value="ratio scale">
        ratio scale
       </label>
       <div class="group-106-905" name="Group">
        <label class="text-106-906" type="text" value="1.0">
         1.0
        </label>
        <button class="btn-106-907" type="button">
         <img class="vector-106-909" src="assets/images/Modules/frame/vector-106_909.svg"/>
        </button>
        <button class="btn-106-910" type="button">
         <img class="vector-106-912" src="assets/images/Modules/frame/vector-106_912.svg"/>
        </button>
       </div>
      </div>
     </div>
     <div class="group-106-913" name="Group">
      <div class="group-106-914" name="Group">
      </div>
      <div class="group-106-915" name="Group">
       <label class="text-106-916" type="text" value="Number of Weeks">
        Number of Weeks
       </label>
       <div class="group-106-917" name="Group">
        <label class="text-106-918" type="text" value="3">
         3
        </label>
        <button class="btn-106-919" type="button">
         <img class="vector-106-921" src="assets/images/Modules/frame/vector-106_921.svg"/>
        </button>
        <button class="btn-106-922" type="button">
         <img class="vector-106-924" src="assets/images/Modules/frame/vector-106_924.svg"/>
        </button>
       </div>
      </div>
     </div>
     <div class="group-106-925" name="Group">
      <div class="group-106-926" name="Group">
      </div>
      <div class="group-106-927" name="Group">
       <br/>
       <label class="calendar-106-928" for="html">
        start date
       </label>
       <input class="input-106-928" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
       <br/>
       <img class="vector-106-931" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/aa1aa329-2446-4f7f-a1f7-16afccd3b20d"/>
      </div>
     </div>
     <div class="group-106-938" name="Group">
      <div class="group-106-939" name="Group">
      </div>
      <div class="group-106-940" name="Group">
       <br/>
       <label class="calendar-106-941" for="html">
        end date
       </label>
       <input class="input-106-941" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
       <br/>
       <img class="vector-106-944" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/e2832995-7957-4269-84fc-6159bf22b5fc"/>
      </div>
     </div>
    </div>
    <div class="group-106-951" name="Group">
     <div class="group-106-952" name="Group">
      <div class="group-106-953" name="Group">
      </div>
      <div class="group-106-954" name="Group">
       <div class="group-106-955" name="Group">
        <div class="group-106-956" name="Group">
        </div>
        <img class="vector-106-957" src="assets/images/Modules/frame/vector-106_957.svg"/>
        <label class="text-106-960" type="text" value="TRADITIONAL">
         TRADITIONAL
        </label>
       </div>
       <div class="group-106-961" name="Group">
        <div class="group-106-962" name="Group">
        </div>
        <img class="vector-106-963" src="assets/images/Modules/frame/vector-106_963.svg"/>
        <label class="text-106-966" type="text" value="HYBRID">
         HYBRID
        </label>
       </div>
       <div class="group-106-967" name="Group">
        <div class="group-106-968" name="Group">
        </div>
        <img class="vector-106-969" src="assets/images/Modules/frame/vector-106_969.svg"/>
        <label class="text-106-972" type="text" value="OPTIMAL">
         OPTIMAL
        </label>
       </div>
      </div>
     </div>
     <div class="group-106-973" name="Group">
      <div class="group-106-974" name="Group">
      </div>
      <div class="group-106-975" name="Group">
       <img class="vector-106-976" src="assets/images/Modules/frame/vector-106_976.svg"/>
       <label class="text-106-985" type="text" value="Shift Distribution Types">
        Shift Distribution Types
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-106-986" name="Group">
    <div class="group-106-987" name="Group">
     <div class="group-106-988" name="Group">
      <div class="group-106-989" name="Group">
      </div>
      <div class="group-106-990" name="Group">
       <label class="text-106-991" type="text" value="Emergency room">
        Emergency room
       </label>
      </div>
     </div>
     <div class="group-106-992" name="Group">
      <div class="group-106-993" name="Group">
       <div class="group-106-994" name="Group">
       </div>
       <div class="group-106-995" name="Group">
        <label class="text-106-996" type="text" value="Department type">
         Department type
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-106-997" name="Group">
     <div class="group-106-998" name="Group">
      <div class="group-106-999" name="Group">
      </div>
      <div class="group-106-1000" name="Group">
       <label class="text-106-1001" type="text" value="Site2_ED">
        Site2_ED
       </label>
      </div>
     </div>
     <div class="group-106-1002" name="Group">
      <div class="group-106-1003" name="Group">
       <div class="group-106-1004" name="Group">
       </div>
       <div class="group-106-1005" name="Group">
        <label class="text-106-1006" type="text" value="Department group">
         Department group
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-106-1007" name="Group">
     <div class="group-106-1008" name="Group">
      <div class="group-106-1009" name="Group">
      </div>
      <div class="group-106-1010" name="Group">
       <label class="text-106-1011" type="text" value="Registered Nurses">
        Registered Nurses
       </label>
      </div>
     </div>
     <div class="group-106-1012" name="Group">
      <div class="group-106-1013" name="Group">
       <div class="group-106-1014" name="Group">
       </div>
       <div class="group-106-1015" name="Group">
        <label class="text-106-1016" type="text" value="Resource Group">
         Resource Group
        </label>
       </div>
      </div>
     </div>
    </div>
   </div>
   <img class="vector-106-1017" src="assets/images/Modules/frame/vector-106_1017.svg"/>
   <div class="group-106-1018" name="Group">
    <div class="group-106-1019" name="Group">
    </div>
    <div class="group-106-1020" name="Group">
     <div class="group-106-1021" name="Group">
      <img class="vector-106-1022" src="assets/images/Modules/frame/vector-106_1022.svg"/>
      <div class="group-106-1026" name="Group">
       <label class="text-106-1027" type="text" value="921409198-87861">
        921409198-87861
       </label>
       <div class="group-106-1028" name="Group">
        <div class="group-106-1029" name="Group">
        </div>
        <img class="vector-106-1030" src="assets/images/Modules/frame/vector-106_1030.svg"/>
        <label class="text-106-1032" type="text" value="Base Line ID">
         Base Line ID
        </label>
       </div>
      </div>
      <label class="text-106-1033" type="text" value="Private">
       Private
      </label>
     </div>
     <label class="text-106-1034" type="text" value="Base Line Name 001">
      Base Line Name 001
     </label>
    </div>
   </div>
  </div>
  <div class="group-106-1036" name="Group">
   <div class="group-106-1037" name="Group">
    <div class="group-106-1038" name="Group">
    </div>
    <label class="text-106-1039" type="text" value="Next">
     Next
    </label>
   </div>
   <div class="group-106-1040" name="Group">
    <div class="group-106-1041" name="Group">
    </div>
    <label class="text-106-1042" type="text" value="Cancel">
     Cancel
    </label>
   </div>
  </div>
 </div>
</div>
