

.testbaseline-111-3205{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-111-3206{
position:absolute ;width: 1143.0px; height: 926.0px;  background-color: rgba(0,0,0,0.0);top:194px; left: calc( ( ( 100% - 1440px) / 2 ) + 297px);background:''}

.group-111-3207{
position:absolute ;width: 1151.0px; height: 1371.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 1px;background:''}

.group-111-3215{
position:absolute ;width: 1142.0px; height: 375.205078125px;  background-color: rgba(0,0,0,0.0);top:550px; left: 0px;background:''}

.group-111-3216{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:292px; left: 0px;background:''}

.group-111-3217{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3218{
position:absolute ;width: 280.0px; height: 64.1015625px;  background-color: rgba(0,0,0,0.0);top:6px; left: 41px;background:''}

.vector-111-3219{
position: absolute;left: 0.0px; top: 31.1015625px; width: 280.0px; height: 33.0}

.group-111-3243{
position:absolute ;width: 230.9932861328125px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 25px;background:''}

.text-111-3244{
position: absolute;
left: 0.0px;
 top: 7.55126953125px;
 width: 201.017333984375px;
 height: 8.44873046875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-111-3549{
position: absolute;left: 206.9932861328125px; top: 0.0px; width: 24.0px; height: 24.0}

.group-111-3246{
position:absolute ;width: 837.0px; height: 103.0px;  background-color: rgba(0,0,0,0.0);top:163px; left: 1px;background:''}

.group-111-3247{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 287px;background:''}

.group-111-3248{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3249{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3250{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:21px; left: 21px;background:''}

.group-111-3251{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3272{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;background:''}

.group-111-3273{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3274{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3275{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:21px; left: 21px;background:''}

.group-111-3276{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3297{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 576px;background:''}

.group-111-3298{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.vector-111-3301{
position: relative; width: 16.0px; height: 16.0}

.btn-111-3299{
position: absolute;
left: 27.0px;
 top: 35.0px;
 width: 197.0px;
 height: 28.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-111-3303{
position:absolute ;width: 1141.0px; height: 138.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-111-3304{
position:absolute ;width: 1141.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:54px; left: 0px;background:''}

.group-111-3305{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3306{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3307{
position:absolute ;width: 280.0px; height: 56.1043701171875px;  background-color: rgba(0,0,0,0.0);top:14px; left: 41px;background:''}

.text-111-3308{
position: absolute;
left: 55.0px;
 top: 0.7940673828125px;
 width: 169.0330810546875px;
 height: 19.3773193359375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-111-3309{
position: absolute;left: 0.0px; top: 23.8984375px; width: 280.0px; height: 33.0}

.group-111-3333{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 390px;background:''}

.group-111-3334{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3335{
position:absolute ;width: 224.0px; height: 56.115478515625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-111-3336{
position: absolute;
left: 25.0px;
 top: 0.794677734375px;
 width: 173.0330810546875px;
 height: 19.3861083984375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-111-3337{
position: absolute;left: 0.0px; top: 23.91015625px; width: 224.0px; height: 33.0}

.group-111-3354{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 779px;background:''}

.group-111-3355{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3356{
position:absolute ;width: 224.0px; height: 56.002685546875px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-111-3357{
position: absolute;
left: 50.0px;
 top: 0.794189453125px;
 width: 123.033203125px;
 height: 19.2745361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-111-3358{
position: absolute;left: 0.0px; top: 23.796875px; width: 224.0px; height: 33.0}

.group-111-3375{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3376{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-111-3377{
position:absolute ;width: 287.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-111-3378{
position: absolute;left: 0.0px; top: 0.794921875px; width: 28.0px; height: 28.0}

.text-111-3387{
position: absolute;
left: 43.0px;
 top: 6.794921875px;
 width: 244.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-111-3388{
position:absolute ;width: 1142.0px; height: 301.0px;  background-color: rgba(0,0,0,0.0);top:216px; left: 0px;background:''}

.group-111-3389{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:217px; left: 0px;background:''}

.group-111-3390{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3391{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3392{
position:absolute ;width: 224.0px; height: 56.03125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-111-3393{
position: absolute;
left: 44.0px;
 top: 0.765625px;
 width: 136.0330810546875px;
 height: 19.3035888671875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-111-3394{
position: absolute;left: 0.0px; top: 23.796875px; width: 224.0px; height: 33.0}

.group-111-3411{
position:absolute ;width: 1142.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 0px;background:''}

.group-111-3412{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 877px;background:''}

.group-111-3413{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3414{
position:absolute ;width: 99.0px; height: 58.8170166015625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 83px;border-radius: 5.0px;background:''}

.text-111-3415{
position: absolute;
left: 7.0px;
 top: 0.7943115234375px;
 width: 84.033203125px;
 height: 19.1875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-111-3416{
position:absolute ;width: 99.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;border-radius: 5.0px;background:''}

.text-111-3417{
position: absolute;
left: 39.0px;
 top: 8.794921875px;
 width: 18.0px;
 height: 14.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-111-3420{
position: relative; width: 8.0px; height: 3.0}

.btn-111-3418{
position: absolute;
left: 0.0px;
 top: 0.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-111-3423{
position: relative; width: 12.0px; height: 12.0}

.btn-111-3421{
position: absolute;
left: 69.0px;
 top: 0.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-111-3424{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3425{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3426{
position:absolute ;width: 123.033203125px; height: 62.000732421875px;  background-color: rgba(0,0,0,0.0);top:13px; left: 71px;border-radius: 5.0px;background:''}

.text-111-3427{
position: absolute;
left: 0.0px;
 top: 0.794189453125px;
 width: 123.033203125px;
 height: 19.2745361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-111-3428{
position:absolute ;width: 87.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:28px; left: 18px;border-radius: 5.0px;background:''}

.text-111-3429{
position: absolute;
left: 39.0px;
 top: 0.794921875px;
 width: 9.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-111-3432{
position: relative; width: 8.0px; height: 3.0}

.btn-111-3430{
position: absolute;
left: 0.0px;
 top: 2.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-111-3435{
position: relative; width: 12.0px; height: 12.0}

.btn-111-3433{
position: absolute;
left: 57.0px;
 top: 2.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-111-3436{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 292px;background:''}

.group-111-3437{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3438{
position:absolute ;width: 123.0px; height: 58.95751953125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-111-3439{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 28.60546875px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-111-3439::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-111-3439{
position: absolute;left: 23.0px; top: 0.79541015625px; width: 76.0333251953125px; height: 19.1695556640625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-111-3442{
position: absolute;left: 98.0px; top: 35.6387939453125px; width: 15.0px; height: 16.7459716796875}

.group-111-3449{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 584px;background:''}

.group-111-3450{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-111-3451{
position:absolute ;width: 123.0px; height: 58.9306640625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-111-3452{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 28.578125px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-111-3452::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-111-3452{
position: absolute;left: 30.0px; top: 0.794921875px; width: 63.033447265625px; height: 19.140625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-111-3455{
position: absolute;left: 98.0px; top: 35.6114501953125px; width: 15.0px; height: 16.7459716796875}

.group-111-3462{
position:absolute ;width: 1141.0px; height: 97.205078125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-111-3463{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-111-3464{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-111-3465{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;background:''}

.group-111-3466{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3467{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-111-3468{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-111-3471{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 98.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-111-3472{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 160px;background:''}

.group-111-3473{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(230,243,254,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(33, 150, 243, 1.0);border-style:solid;background:''}

.vector-111-3474{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-111-3477{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 54.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-111-3478{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 279px;background:''}

.group-111-3479{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(240,240,240,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-111-3480{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-111-3483{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 65.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-111-3484{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3485{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-111-3486{
position:absolute ;width: 265.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-111-3487{
position: absolute;left: 0.0px; top: 0.794921875px; width: 28.0px; height: 28.0}

.text-111-3496{
position: absolute;
left: 43.0px;
 top: 6.794921875px;
 width: 222.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-111-3497{
position:absolute ;width: 1141.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:86px; left: 1px;background:''}

.group-111-3498{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3499{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-111-3500{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-111-3501{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-111-3502{
position: absolute;
left: 0.0px;
 top: 6.62908935546875px;
 width: 140.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-111-3503{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3504{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3505{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-111-3506{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-111-3507{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-111-3508{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 384px;background:''}

.group-111-3509{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-111-3510{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-111-3511{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-111-3512{
position: absolute;
left: 0.0px;
 top: 6.62908935546875px;
 width: 66.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-111-3513{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3514{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3515{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-111-3516{
position:absolute ;width: 172.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-111-3517{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 172.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-111-3518{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 767px;background:''}

.group-111-3519{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-111-3520{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-111-3521{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-111-3522{
position: absolute;
left: 0.0px;
 top: 6.62908935546875px;
 width: 150.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-111-3523{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3524{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3525{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-111-3526{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-111-3527{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-111-3528{
position: absolute;left: 1.0px; top: 70.5px; width: 1141.0px; height: 1.0}

.group-111-3529{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 1px;background:''}

.group-111-3530{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-111-3531{
position:absolute ;width: 351.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:13px; left: 20px;background:''}

.group-111-3532{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:2px; left: 809px;background:''}

.vector-111-3533{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.group-111-3537{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-111-3538{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-111-3539{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-111-3540{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-111-3541{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-111-3543{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-111-3544{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-111-3545{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 147.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-111-3208{
position:absolute ;width: 175.0px; height: 40.047607421875px;  background-color: rgba(0,0,0,0.0);top:1146px; left: calc( ( ( 100% - 1440px) / 2 ) + 1266px);border-radius: 2.0px;background:''}

.btn-111-3209{
position: absolute;
left: 95.0px;
 top: 0.0px;
 width: 80.0px;
 height: 40.047607421875px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.btn-111-3212{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 81.0px;
 height: 40.047607421875px;
border-radius: 2.0px; background-color: rgba(214, 214, 214, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}