

.testbaseline-104-2082{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-104-2083{
position:absolute ;width: 1143.0px; height: 926.0px;  background-color: rgba(0,0,0,0.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 297px);background:''}

.group-104-2084{
position:absolute ;width: 1151.0px; height: 1371.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 1px;background:''}

.group-104-2092{
position:absolute ;width: 1142.0px; height: 375.205078125px;  background-color: rgba(0,0,0,0.0);top:551px; left: 0px;background:''}

.group-104-2265{
position:absolute ;width: 1142.0px; height: 301.0px;  background-color: rgba(0,0,0,0.0);top:217px; left: 0px;background:''}

.group-104-2266{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:217px; left: 0px;background:''}

.group-104-2267{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2268{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-104-2269{
position:absolute ;width: 224.0px; height: 56.031219482421875px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-104-2270{
position: absolute;
left: 44.0px;
 top: -0.234375px;
 width: 136.03314208984375px;
 height: 19.303573608398438px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-104-2271{
position: absolute;left: 0.0px; top: 22.796844482421875px; width: 224.0px; height: 33.0}

.group-104-2288{
position:absolute ;width: 1142.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 0px;background:''}

.group-104-2289{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 877px;background:''}

.group-104-2290{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-104-2291{
position:absolute ;width: 99.0px; height: 58.816986083984375px;  background-color: rgba(0,0,0,0.0);top:14px; left: 83px;border-radius: 5.0px;background:''}

.text-104-2292{
position: absolute;
left: 7.0px;
 top: -0.205657958984375px;
 width: 84.03326416015625px;
 height: 19.187484741210938px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-104-2293{
position:absolute ;width: 99.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;border-radius: 5.0px;background:''}

.text-104-2294{
position: absolute;
left: 39.0px;
 top: 7.794921875px;
 width: 18.0px;
 height: 14.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-104-2297{
position: relative; width: 8.0px; height: 3.0}

.btn-104-2295{
position: absolute;
left: 0.0px;
 top: -0.388671875px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-104-2300{
position: relative; width: 12.0px; height: 12.0}

.btn-104-2298{
position: absolute;
left: 69.0px;
 top: -0.388671875px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-104-2301{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2302{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-104-2303{
position:absolute ;width: 123.03317260742188px; height: 62.000732421875px;  background-color: rgba(0,0,0,0.0);top:13px; left: 71px;border-radius: 5.0px;background:''}

.text-104-2304{
position: absolute;
left: 0.0px;
 top: -0.20587158203125px;
 width: 123.03317260742188px;
 height: 19.274551391601562px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-104-2305{
position:absolute ;width: 87.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:28px; left: 18px;border-radius: 5.0px;background:''}

.text-104-2306{
position: absolute;
left: 39.0px;
 top: -0.205078125px;
 width: 9.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-104-2309{
position: relative; width: 8.0px; height: 3.0}

.btn-104-2307{
position: absolute;
left: 0.0px;
 top: 1.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-104-2312{
position: relative; width: 12.0px; height: 12.0}

.btn-104-2310{
position: absolute;
left: 57.0px;
 top: 1.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-104-2313{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 292px;background:''}

.group-104-2314{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-104-2315{
position:absolute ;width: 123.0px; height: 58.957550048828125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-104-2316{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 27.60546875px; width: 123.0px; height: 31.147445678710938px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-104-2316::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-104-2316{
position: absolute;left: 23.0px; top: -0.2046356201171875px; width: 76.03329467773438px; height: 19.169631958007812px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-104-2319{
position: absolute;left: 98.0px; top: 34.638763427734375px; width: 15.0px; height: 16.745941162109375}

.group-104-2326{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 584px;background:''}

.group-104-2327{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-104-2328{
position:absolute ;width: 123.0px; height: 58.93064880371094px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-104-2329{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 27.578125px; width: 123.0px; height: 31.147445678710938px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-104-2329::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-104-2329{
position: absolute;left: 30.0px; top: -0.205078125px; width: 63.0333251953125px; height: 19.140594482421875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-104-2332{
position: absolute;left: 98.0px; top: 34.611419677734375px; width: 15.0px; height: 16.745941162109375}

.group-104-2339{
position:absolute ;width: 1141.0px; height: 97.205078125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-104-2340{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-104-2341{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-104-2342{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2343{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2344{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-104-2345{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-104-2348{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 98.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-104-2349{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 160px;background:''}

.group-104-2350{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(230,243,254,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(33, 150, 243, 1.0);border-style:solid;background:''}

.vector-104-2351{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-104-2354{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 54.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-104-2355{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 279px;background:''}

.group-104-2356{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(240,240,240,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-104-2357{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-104-2360{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 65.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-104-2361{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2362{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-104-2363{
position:absolute ;width: 265.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-104-2364{
position: absolute;left: 0.0px; top: -0.205078125px; width: 28.0px; height: 28.0}

.text-104-2373{
position: absolute;
left: 43.0px;
 top: 5.794921875px;
 width: 222.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-104-2374{
position:absolute ;width: 1141.0px; height: 92.79556274414062px;  background-color: rgba(0,0,0,0.0);top:86px; left: 1px;background:''}

.group-104-2375{
position:absolute ;width: 374.0px; height: 92.79556274414062px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2376{
position:absolute ;width: 374.0px; height: 49.233062744140625px;  background-color: rgba(0,0,0,0.0);top:44px; left: 0px;background:''}

.group-104-2377{
position:absolute ;width: 374.0px; height: 49.233062744140625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-104-2378{
position:absolute ;width: 337.0px; height: 22.104644775390625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-104-2379{
position: absolute;
left: 0.0px;
 top: 5.62908935546875px;
 width: 140.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-104-2380{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2381{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2382{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-104-2383{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-104-2384{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-104-2385{
position:absolute ;width: 374.0px; height: 92.79556274414062px;  background-color: rgba(0,0,0,0.0);top:0px; left: 384px;background:''}

.group-104-2386{
position:absolute ;width: 374.0px; height: 49.233062744140625px;  background-color: rgba(0,0,0,0.0);top:44px; left: 0px;background:''}

.group-104-2387{
position:absolute ;width: 374.0px; height: 49.233062744140625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-104-2388{
position:absolute ;width: 337.0px; height: 22.104644775390625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-104-2389{
position: absolute;
left: 0.0px;
 top: 5.62908935546875px;
 width: 66.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-104-2390{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2391{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2392{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-104-2393{
position:absolute ;width: 172.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-104-2394{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 172.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-104-2395{
position:absolute ;width: 374.0px; height: 92.79556274414062px;  background-color: rgba(0,0,0,0.0);top:0px; left: 767px;background:''}

.group-104-2396{
position:absolute ;width: 374.0px; height: 49.233062744140625px;  background-color: rgba(0,0,0,0.0);top:44px; left: 0px;background:''}

.group-104-2397{
position:absolute ;width: 374.0px; height: 49.233062744140625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-104-2398{
position:absolute ;width: 337.0px; height: 22.104644775390625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-104-2399{
position: absolute;
left: 0.0px;
 top: 5.62908935546875px;
 width: 150.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-104-2400{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2401{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2402{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-104-2403{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-104-2404{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-104-2405{
position: absolute;left: 1.0px; top: 70.5px; width: 1141.0px; height: 1.0}

.group-104-2406{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 1px;background:''}

.group-104-2407{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-104-2408{
position:absolute ;width: 351.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:13px; left: 20px;background:''}

.group-104-2409{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:2px; left: 809px;background:''}

.vector-104-2410{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.group-104-2414{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-104-2415{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-104-2416{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-104-2417{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-104-2418{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-104-2420{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-104-2421{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-104-2422{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 147.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-104-2085{
position:absolute ;width: 176.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:1171px; left: calc( ( ( 100% - 1440px) / 2 ) + 1221px);border-radius: 2.0px;background:''}

.group-104-2086{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 95px;border-radius: 2.0px;background:''}

.group-104-2087{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-104-2088{
position: absolute;
left: 23.0px;
 top: 14.99993896484375px;
 width: 36.0px;
 height: 10.04754638671875px;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-104-2089{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-104-2090{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(214,214,214,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-104-2091{
position: absolute;
left: 11.0px;
 top: 14.99993896484375px;
 width: 59.0px;
 height: 10.04754638671875px;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}