<div class="testbaseline-111-3205" name="test@Baseline">
 <div class="group-111-3206" name="Group">
  <div class="group-111-3207" name="Group">
  </div>
  <div class="group-111-3215" name="Group">
   <div class="group-111-3216" name="Group">
    <div class="group-111-3217" name="Group">
    </div>
    <div class="group-111-3218" name="Group">
     <img class="vector-111-3219" src="assets/images/test/baseline/vector-111_3219.svg"/>
     <div class="group-111-3243" name="Group">
      <label class="text-111-3244" type="text" value="Non-Traditional Resources">
       Non-Traditional Resources
      </label>
      <img class="vector-111-3549" src="assets/images/test/baseline/vector-111_3549.svg"/>
     </div>
    </div>
   </div>
   <div class="group-111-3246" name="Group">
    <div class="group-111-3247" name="Group">
     <div class="group-111-3248" name="Group">
      <div class="group-111-3249" name="Group">
      </div>
      <div class="group-111-3250" name="Group">
       <div class="group-111-3251" name="Group ">
       </div>
      </div>
     </div>
     <div class="group-111-3272" name="Group">
      <div class="group-111-3273" name="Group">
       <div class="group-111-3274" name="Group">
       </div>
       <div class="group-111-3275" name="Group">
        <div class="group-111-3276" name="Group ">
        </div>
       </div>
      </div>
      <div class="group-111-3297" name="Group">
       <div class="group-111-3298" name="Group">
       </div>
       <button class="btn-111-3299" type="button">
        <img class="vector-111-3301" src="assets/images/test/baseline/vector-111_3301.svg"/>
       </button>
      </div>
     </div>
     <div class="group-111-3303" name="Group">
      <div class="group-111-3304" name="Group">
       <div class="group-111-3305" name="Group">
        <div class="group-111-3306" name="Group">
        </div>
        <div class="group-111-3307" name="Group">
         <label class="text-111-3308" type="text" value="Minimum Shift Duration">
          Minimum Shift Duration
         </label>
         <img class="vector-111-3309" src="assets/images/test/baseline/vector-111_3309.svg"/>
        </div>
       </div>
       <div class="group-111-3333" name="Group">
        <div class="group-111-3334" name="Group">
        </div>
        <div class="group-111-3335" name="Group">
         <label class="text-111-3336" type="text" value="Maximum Shift Duration">
          Maximum Shift Duration
         </label>
         <img class="vector-111-3337" src="assets/images/test/baseline/vector-111_3337.svg"/>
        </div>
       </div>
       <div class="group-111-3354" name="Group">
        <div class="group-111-3355" name="Group">
        </div>
        <div class="group-111-3356" name="Group">
         <label class="text-111-3357" type="text" value="latest Start Time">
          latest Start Time
         </label>
         <img class="vector-111-3358" src="assets/images/test/baseline/vector-111_3358.svg"/>
        </div>
       </div>
      </div>
      <div class="group-111-3375" name="Group">
       <div class="group-111-3376" name="Group">
       </div>
       <div class="group-111-3377" name="Group">
        <img class="vector-111-3378" src="assets/images/test/baseline/vector-111_3378.svg"/>
        <label class="text-111-3387" type="text" value="Pre- Determined Variables">
         Pre- Determined Variables
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-111-3388" name="Group">
     <div class="group-111-3389" name="Group">
      <div class="group-111-3390" name="Group">
       <div class="group-111-3391" name="Group">
       </div>
       <div class="group-111-3392" name="Group">
        <label class="text-111-3393" type="text" value="EARLIEST Start Time">
         EARLIEST Start Time
        </label>
        <img class="vector-111-3394" src="assets/images/test/baseline/vector-111_3394.svg"/>
       </div>
      </div>
     </div>
     <div class="group-111-3411" name="Group">
      <div class="group-111-3412" name="Group">
       <div class="group-111-3413" name="Group">
       </div>
       <div class="group-111-3414" name="Group">
        <label class="text-111-3415" type="text" value="ratio scale">
         ratio scale
        </label>
        <div class="group-111-3416" name="Group">
         <label class="text-111-3417" type="text" value="1.0">
          1.0
         </label>
         <button class="btn-111-3418" type="button">
          <img class="vector-111-3420" src="assets/images/test/baseline/vector-111_3420.svg"/>
         </button>
         <button class="btn-111-3421" type="button">
          <img class="vector-111-3423" src="assets/images/test/baseline/vector-111_3423.svg"/>
         </button>
        </div>
       </div>
      </div>
      <div class="group-111-3424" name="Group">
       <div class="group-111-3425" name="Group">
       </div>
       <div class="group-111-3426" name="Group">
        <label class="text-111-3427" type="text" value="Number of Weeks">
         Number of Weeks
        </label>
        <div class="group-111-3428" name="Group">
         <label class="text-111-3429" type="text" value="3">
          3
         </label>
         <button class="btn-111-3430" type="button">
          <img class="vector-111-3432" src="assets/images/test/baseline/vector-111_3432.svg"/>
         </button>
         <button class="btn-111-3433" type="button">
          <img class="vector-111-3435" src="assets/images/test/baseline/vector-111_3435.svg"/>
         </button>
        </div>
       </div>
      </div>
      <div class="group-111-3436" name="Group">
       <div class="group-111-3437" name="Group">
       </div>
       <div class="group-111-3438" name="Group">
        <br/>
        <label class="calendar-111-3439" for="html">
         start date
        </label>
        <input class="input-111-3439" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
        <br/>
        <img class="vector-111-3442" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/f2287299-dbc0-4637-9992-6f9645932ffe"/>
       </div>
      </div>
      <div class="group-111-3449" name="Group">
       <div class="group-111-3450" name="Group">
       </div>
       <div class="group-111-3451" name="Group">
        <br/>
        <label class="calendar-111-3452" for="html">
         end date
        </label>
        <input class="input-111-3452" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
        <br/>
        <img class="vector-111-3455" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/6cf5ffbd-93e8-4ca6-8f17-a7c7c84c7079"/>
       </div>
      </div>
     </div>
     <div class="group-111-3462" name="Group">
      <div class="group-111-3463" name="Group">
       <div class="group-111-3464" name="Group">
       </div>
       <div class="group-111-3465" name="Group">
        <div class="group-111-3466" name="Group">
         <div class="group-111-3467" name="Group">
         </div>
         <img class="vector-111-3468" src="assets/images/test/baseline/vector-111_3468.svg"/>
         <label class="text-111-3471" type="text" value="TRADITIONAL">
          TRADITIONAL
         </label>
        </div>
        <div class="group-111-3472" name="Group">
         <div class="group-111-3473" name="Group">
         </div>
         <img class="vector-111-3474" src="assets/images/test/baseline/vector-111_3474.svg"/>
         <label class="text-111-3477" type="text" value="HYBRID">
          HYBRID
         </label>
        </div>
        <div class="group-111-3478" name="Group">
         <div class="group-111-3479" name="Group">
         </div>
         <img class="vector-111-3480" src="assets/images/test/baseline/vector-111_3480.svg"/>
         <label class="text-111-3483" type="text" value="OPTIMAL">
          OPTIMAL
         </label>
        </div>
       </div>
      </div>
      <div class="group-111-3484" name="Group">
       <div class="group-111-3485" name="Group">
       </div>
       <div class="group-111-3486" name="Group">
        <img class="vector-111-3487" src="assets/images/test/baseline/vector-111_3487.svg"/>
        <label class="text-111-3496" type="text" value="Shift Distribution Types">
         Shift Distribution Types
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-111-3497" name="Group">
     <div class="group-111-3498" name="Group">
      <div class="group-111-3499" name="Group">
       <div class="group-111-3500" name="Group">
       </div>
       <div class="group-111-3501" name="Group">
        <label class="text-111-3502" type="text" value="Emergency room">
         Emergency room
        </label>
       </div>
      </div>
      <div class="group-111-3503" name="Group">
       <div class="group-111-3504" name="Group">
        <div class="group-111-3505" name="Group">
        </div>
        <div class="group-111-3506" name="Group">
         <label class="text-111-3507" type="text" value="Department type">
          Department type
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-111-3508" name="Group">
      <div class="group-111-3509" name="Group">
       <div class="group-111-3510" name="Group">
       </div>
       <div class="group-111-3511" name="Group">
        <label class="text-111-3512" type="text" value="Site2_ED">
         Site2_ED
        </label>
       </div>
      </div>
      <div class="group-111-3513" name="Group">
       <div class="group-111-3514" name="Group">
        <div class="group-111-3515" name="Group">
        </div>
        <div class="group-111-3516" name="Group">
         <label class="text-111-3517" type="text" value="Department group">
          Department group
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-111-3518" name="Group">
      <div class="group-111-3519" name="Group">
       <div class="group-111-3520" name="Group">
       </div>
       <div class="group-111-3521" name="Group">
        <label class="text-111-3522" type="text" value="Registered Nurses">
         Registered Nurses
        </label>
       </div>
      </div>
      <div class="group-111-3523" name="Group">
       <div class="group-111-3524" name="Group">
        <div class="group-111-3525" name="Group">
        </div>
        <div class="group-111-3526" name="Group">
         <label class="text-111-3527" type="text" value="Resource Group">
          Resource Group
         </label>
        </div>
       </div>
      </div>
     </div>
    </div>
    <img class="vector-111-3528" src="assets/images/test/baseline/vector-111_3528.svg"/>
    <div class="group-111-3529" name="Group">
     <div class="group-111-3530" name="Group">
     </div>
     <div class="group-111-3531" name="Group">
      <div class="group-111-3532" name="Group">
       <img class="vector-111-3533" src="assets/images/test/baseline/vector-111_3533.svg"/>
       <div class="group-111-3537" name="Group">
        <label class="text-111-3538" type="text" value="921409198-87861">
         921409198-87861
        </label>
        <div class="group-111-3539" name="Group">
         <div class="group-111-3540" name="Group">
         </div>
         <img class="vector-111-3541" src="assets/images/test/baseline/vector-111_3541.svg"/>
         <label class="text-111-3543" type="text" value="Base Line ID">
          Base Line ID
         </label>
        </div>
       </div>
       <label class="text-111-3544" type="text" value="Private">
        Private
       </label>
      </div>
      <label class="text-111-3545" type="text" value="Base Line Name 001">
       Base Line Name 001
      </label>
     </div>
    </div>
   </div>
   <div class="group-111-3208" name="Group">
    <button class="btn-111-3209" type="button">
     Next
    </button>
    <button class="btn-111-3212" type="button">
     Cancel
    </button>
   </div>
  </div>
 </div>
</div>
