

.testbaseline-110-2178{
position:'' ;width: 100%; height: auto;  background-color: rgba(255,255,255,1.0);top:0px; left: 0;background:''}

.group-110-2179{
position:absolute ;width: 1429.0px; height: 1157.702392578125px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-110-2180{
position:absolute ;width: 1439.0px; height: 1569.0px;  background-color: rgba(255,255,255,1.0);top:1px; left: 1px;background:''}

.group-110-2181{
position:absolute ;width: 1427.749755859375px; height: 469.08837890625px;  background-color: rgba(0,0,0,0.0);top:687px; left: 0px;background:''}

.group-110-2354{
position:absolute ;width: 1427.749755859375px; height: 376.3158264160156px;  background-color: rgba(0,0,0,0.0);top:271px; left: 0px;background:''}

.group-110-2355{
position:absolute ;width: 452.57916259765625px; height: 105.01837158203125px;  background-color: rgba(0,0,0,0.0);top:270px; left: 0px;background:''}

.group-110-2356{
position:absolute ;width: 452.57916259765625px; height: 105.01837158203125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2357{
position:absolute ;width: 452.57916259765625px; height: 105.01837158203125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 5.0008745193481445px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-110-2358{
position:absolute ;width: 280.0489807128906px; height: 70.05126190185547px;  background-color: rgba(0,0,0,0.0);top:18px; left: 86px;background:''}

.text-110-2359{
position: absolute;
left: 55.274688720703125px;
 top: 0.08408355712890625px;
 width: 170.07119750976562px;
 height: 24.133689880371094px;
font-size: 15.00262451171875px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-110-2360{
position: absolute;left: 0.26507568359375px; top: 28.878158569335938px; width: 280.04901123046875px; height: 41.25721740722656}

.group-110-2377{
position:absolute ;width: 1427.749755859375px; height: 105.01837158203125px;  background-color: rgba(0,0,0,0.0);top:132px; left: 0px;background:''}

.group-110-2378{
position:absolute ;width: 331.3079833984375px; height: 105.01837158203125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1096px;background:''}

.group-110-2379{
position:absolute ;width: 331.3079833984375px; height: 105.01837158203125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 5.0008745193481445px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-110-2380{
position:absolute ;width: 123.7716064453125px; height: 73.53410339355469px;  background-color: rgba(0,0,0,0.0);top:18px; left: 104px;border-radius: 6.25109338760376px;background:''}

.text-110-2381{
position: absolute;
left: 8.9615478515625px;
 top: -0.6542816162109375px;
 width: 105.0599365234375px;
 height: 23.988554000854492px;
font-size: 15.00262451171875px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-110-2382{
position:absolute ;width: 123.7716064453125px; height: 37.506561279296875px;  background-color: rgba(0,0,0,0.0);top:35px; left: 0px;border-radius: 6.25109338760376px;background:''}

.text-110-2383{
position: absolute;
left: 48.968505859375px;
 top: 10.604530334472656px;
 width: 22.50390625px;
 height: 17.50305938720703px;
font-size: 17.503061294555664px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-110-2386{
position: relative; width: 10.001708984375px; height: 3.7506561279296875}

.btn-110-2384{
position: absolute;
left: 0.2099609375px;
 top: 0.3732452392578125px;
 width: 37.506591796875px;
 height: 36.25634002685547px;
border-radius: 6.25109338760376px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-110-2389{
position: relative; width: 15.002685546875px; height: 15.00262451171875}

.btn-110-2387{
position: absolute;
left: 86.47509765625px;
 top: 0.3732566833496094px;
 width: 37.506591796875px;
 height: 37.506561279296875px;
border-radius: 6.25109338760376px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-110-2390{
position:absolute ;width: 331.3079833984375px; height: 105.01837158203125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2391{
position:absolute ;width: 331.3079833984375px; height: 105.01837158203125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 5.0008745193481445px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-110-2392{
position:absolute ;width: 153.818359375px; height: 77.51447296142578px;  background-color: rgba(0,0,0,0.0);top:17px; left: 88px;border-radius: 6.25109338760376px;background:''}

.text-110-2393{
position: absolute;
left: 0.765533447265625px;
 top: -0.9047584533691406px;
 width: 153.81838989257812px;
 height: 24.09739875793457px;
font-size: 15.00262451171875px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-110-2394{
position:absolute ;width: 108.76904296875px; height: 42.5074348449707px;  background-color: rgba(0,0,0,0.0);top:34px; left: 23px;border-radius: 6.25109338760376px;background:''}

.text-110-2395{
position: absolute;
left: 49.0279541015625px;
 top: 0.10233306884765625px;
 width: 11.251953125px;
 height: 42.5074348449707px;
font-size: 17.503061294555664px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-110-2398{
position: relative; width: 10.001739501953125px; height: 3.7506561279296875}

.btn-110-2396{
position: absolute;
left: 0.26947021484375px;
 top: 2.37322998046875px;
 width: 37.506561279296875px;
 height: 36.25634002685547px;
border-radius: 6.25109338760376px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-110-2401{
position: relative; width: 15.00262451171875px; height: 15.00262451171875}

.btn-110-2399{
position: absolute;
left: 71.53192138671875px;
 top: 2.37322998046875px;
 width: 37.50653076171875px;
 height: 37.506561279296875px;
border-radius: 6.25109338760376px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-110-2402{
position:absolute ;width: 331.3079833984375px; height: 105.01837158203125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 365px;background:''}

.group-110-2403{
position:absolute ;width: 331.3079833984375px; height: 105.01837158203125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 5.0008745193481445px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-110-2404{
position:absolute ;width: 153.77691650390625px; height: 73.70983123779297px;  background-color: rgba(0,0,0,0.0);top:18px; left: 88px;background:''}

.input-110-2405{
position: absolute;
border-radius: 5.0008745193481445px;
left: 0.82940673828125px; top: 34.11570358276367px; width: 153.77691650390625px; height: 38.94112014770508px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-110-2405::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-110-2405{
position: absolute;left: 29.58441162109375px; top: -0.6530208587646484px; width: 95.0582275390625px; height: 23.966222763061523px;
font-size: 15.00262451171875px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-110-2408{
position: absolute;left: 123.350830078125px; top: 42.90890884399414px; width: 18.7532958984375px; height: 20.936084747314453}

.group-110-2415{
position:absolute ;width: 331.3079833984375px; height: 105.01837158203125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 730px;background:''}

.group-110-2416{
position:absolute ;width: 331.3079833984375px; height: 105.01837158203125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 5.0008745193481445px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-110-2417{
position:absolute ;width: 153.77685546875px; height: 73.67619323730469px;  background-color: rgba(0,0,0,0.0);top:18px; left: 88px;background:''}

.input-110-2418{
position: absolute;
border-radius: 5.0008745193481445px;
left: 0.8931884765625px; top: 34.081520080566406px; width: 153.77685546875px; height: 38.94112014770508px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-110-2418::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-110-2418{
position: absolute;left: 38.3997802734375px; top: -0.6535568237304688px; width: 78.805419921875px; height: 23.92993927001953px;
font-size: 15.00262451171875px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-110-2421{
position: absolute;left: 123.4146728515625px; top: 42.874664306640625px; width: 18.7532958984375px; height: 20.936080932617188}

.group-110-2428{
position:absolute ;width: 1426.49951171875px; height: 121.5276107788086px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-110-2429{
position:absolute ;width: 1426.49951171875px; height: 55.266014099121094px;  background-color: rgba(0,0,0,0.0);top:66px; left: 0px;background:''}

.group-110-2430{
position:absolute ;width: 1426.49951171875px; height: 55.009620666503906px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.2502186298370361px;background:''}

.group-110-2431{
position:absolute ;width: 502.5879211425781px; height: 55.009620666503906px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2432{
position:absolute ;width: 191.28347778320312px; height: 55.009620666503906px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2433{
position:absolute ;width: 191.28347778320312px; height: 55.009620666503906px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.2502186298370361px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-110-2434{
position: absolute;left: 15.25286865234375px; top: 18.591445922851562px; width: 17.5030517578125px; height: 17.50305938720703}

.text-110-2437{
position: absolute;
left: 44.007904052734375px;
 top: 21.09191131591797px;
 width: 122.52145385742188px;
 height: 12.502189636230469px;
font-size: 17.503061294555664px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-110-2438{
position:absolute ;width: 140.02447509765625px; height: 55.009620666503906px;  background-color: rgba(0,0,0,0.0);top:0px; left: 200px;background:''}

.group-110-2439{
position:absolute ;width: 140.02447509765625px; height: 55.009620666503906px;  background-color: rgba(230,243,254,1.0);top:0px; left: 0px;border-radius: 1.2502186298370361px;border-color:rgba(33, 150, 243, 1.0);border-style:solid;background:''}

.vector-110-2440{
position: absolute;left: 15.287841796875px; top: 18.591461181640625px; width: 17.5030517578125px; height: 17.50305938720703}

.text-110-2443{
position: absolute;
left: 44.0428466796875px;
 top: 21.0919189453125px;
 width: 67.51177978515625px;
 height: 12.502189636230469px;
font-size: 17.503061294555664px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-110-2444{
position:absolute ;width: 153.77691650390625px; height: 55.009620666503906px;  background-color: rgba(0,0,0,0.0);top:0px; left: 349px;background:''}

.group-110-2445{
position:absolute ;width: 153.77691650390625px; height: 55.009620666503906px;  background-color: rgba(240,240,240,1.0);top:0px; left: 0px;border-radius: 1.2502186298370361px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-110-2446{
position: absolute;left: 15.06390380859375px; top: 18.591461181640625px; width: 17.5030517578125px; height: 17.50305938720703}

.text-110-2449{
position: absolute;
left: 43.81890869140625px;
 top: 21.0919189453125px;
 width: 81.26422119140625px;
 height: 12.502189636230469px;
font-size: 17.503061294555664px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-110-2450{
position:absolute ;width: 1426.49951171875px; height: 55.009620666503906px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2451{
position:absolute ;width: 1426.49951171875px; height: 55.009620666503906px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-110-2452{
position:absolute ;width: 331.3079833984375px; height: 35.00611877441406px;  background-color: rgba(0,0,0,0.0);top:10px; left: 12px;background:''}

.vector-110-2453{
position: absolute;left: 0.75244140625px; top: -0.67803955078125px; width: 35.006134033203125px; height: 35.00611877441406}

.text-110-2462{
position: absolute;
left: 54.511810302734375px;
 top: 6.823272705078125px;
 width: 277.5485534667969px;
 height: 21.25372314453125px;
font-size: 20.003498077392578px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-110-2463{
position:absolute ;width: 1426.49951171875px; height: 116.01473999023438px;  background-color: rgba(0,0,0,0.0);top:107px; left: 1px;background:''}

.group-110-2464{
position:absolute ;width: 467.581787109375px; height: 116.01473999023438px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2465{
position:absolute ;width: 467.581787109375px; height: 61.552093505859375px;  background-color: rgba(0,0,0,0.0);top:55px; left: 0px;background:''}

.group-110-2466{
position:absolute ;width: 467.581787109375px; height: 61.552093505859375px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-110-2467{
position:absolute ;width: 421.32366943359375px; height: 27.635635375976562px;  background-color: rgba(0,0,0,0.0);top:17px; left: 25px;background:''}

.text-110-2468{
position: absolute;
left: 0.25457763671875px;
 top: 7.34820556640625px;
 width: 175.0306396484375px;
 height: 12.502182006835938px;
font-size: 17.503061294555664px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-110-2469{
position:absolute ;width: 467.581787109375px; height: 55.009613037109375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2470{
position:absolute ;width: 467.581787109375px; height: 55.009613037109375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2471{
position:absolute ;width: 467.581787109375px; height: 55.009613037109375px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-110-2472{
position:absolute ;width: 191.28347778320312px; height: 21.25372314453125px;  background-color: rgba(0,0,0,0.0);top:18px; left: 15px;background:''}

.text-110-2473{
position: absolute;
left: 0.252838134765625px;
 top: -0.699005126953125px;
 width: 191.28347778320312px;
 height: 21.25372314453125px;
font-size: 20.003498077392578px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-110-2474{
position:absolute ;width: 467.581787109375px; height: 116.01473999023438px;  background-color: rgba(0,0,0,0.0);top:0px; left: 480px;background:''}

.group-110-2475{
position:absolute ;width: 467.581787109375px; height: 61.552093505859375px;  background-color: rgba(0,0,0,0.0);top:55px; left: 0px;background:''}

.group-110-2476{
position:absolute ;width: 467.581787109375px; height: 61.552093505859375px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-110-2477{
position:absolute ;width: 421.32373046875px; height: 27.635635375976562px;  background-color: rgba(0,0,0,0.0);top:17px; left: 25px;background:''}

.text-110-2478{
position: absolute;
left: 0.338623046875px;
 top: 7.348175048828125px;
 width: 82.514404296875px;
 height: 12.502182006835938px;
font-size: 17.503061294555664px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-110-2479{
position:absolute ;width: 467.581787109375px; height: 55.009613037109375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2480{
position:absolute ;width: 467.581787109375px; height: 55.009613037109375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2481{
position:absolute ;width: 467.581787109375px; height: 55.009613037109375px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-110-2482{
position:absolute ;width: 215.03765869140625px; height: 21.25372314453125px;  background-color: rgba(0,0,0,0.0);top:18px; left: 15px;background:''}

.text-110-2483{
position: absolute;
left: 0.33685302734375px;
 top: -0.69903564453125px;
 width: 215.03765869140625px;
 height: 21.25372314453125px;
font-size: 20.003498077392578px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-110-2484{
position:absolute ;width: 467.581787109375px; height: 116.01473999023438px;  background-color: rgba(0,0,0,0.0);top:0px; left: 959px;background:''}

.group-110-2485{
position:absolute ;width: 467.581787109375px; height: 61.552093505859375px;  background-color: rgba(0,0,0,0.0);top:55px; left: 0px;background:''}

.group-110-2486{
position:absolute ;width: 467.581787109375px; height: 61.552093505859375px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-110-2487{
position:absolute ;width: 421.32373046875px; height: 27.635635375976562px;  background-color: rgba(0,0,0,0.0);top:17px; left: 25px;background:''}

.text-110-2488{
position: absolute;
left: 0.17236328125px;
 top: 7.348175048828125px;
 width: 187.5328369140625px;
 height: 12.502182006835938px;
font-size: 17.503061294555664px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-110-2489{
position:absolute ;width: 467.581787109375px; height: 55.009613037109375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2490{
position:absolute ;width: 467.581787109375px; height: 55.009613037109375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2491{
position:absolute ;width: 467.581787109375px; height: 55.009613037109375px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-110-2492{
position:absolute ;width: 191.283447265625px; height: 21.25372314453125px;  background-color: rgba(0,0,0,0.0);top:18px; left: 15px;background:''}

.text-110-2493{
position: absolute;
left: 0.1705322265625px;
 top: -0.69903564453125px;
 width: 191.283447265625px;
 height: 21.25372314453125px;
font-size: 20.003498077392578px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-110-2494{
position: absolute;left: 1.250244140625px; top: 87.41952514648438px; width: 1426.49951171875px; height: 1.250244140625}

.group-110-2495{
position:absolute ;width: 1426.49951171875px; height: 55.009613037109375px;  background-color: rgba(0,0,0,0.0);top:14px; left: 1px;background:''}

.group-110-2496{
position:absolute ;width: 1426.49951171875px; height: 55.009613037109375px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-110-2497{
position:absolute ;width: 438.82672119140625px; height: 27.50482177734375px;  background-color: rgba(0,0,0,0.0);top:16px; left: 25px;background:''}

.group-110-2498{
position:absolute ;width: 382.56689453125px; height: 27.50482177734375px;  background-color: rgba(0,0,0,0.0);top:3px; left: 1011px;background:''}

.vector-110-2499{
position: absolute;left: 353.2431640625px; top: -0.216094970703125px; width: 30.0052490234375px; height: 27.50482177734375}

.group-110-2503{
position:absolute ;width: 256.2947998046875px; height: 27.50482177734375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-110-2504{
position: absolute;
left: 143.2064208984375px;
 top: 8.53546142578125px;
 width: 113.7698974609375px;
 height: 10.001739501953125px;
font-size: 15.00262451171875px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-110-2505{
position:absolute ;width: 131.27294921875px; height: 27.50482177734375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-110-2506{
position:absolute ;width: 131.27294921875px; height: 27.50482177734375px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 5.0008745193481445px;background:''}

.vector-110-2507{
position: absolute;left: 5.682373046875px; top: 4.7847900390625px; width: 16.2528076171875px; height: 16.252838134765625}

.text-110-2509{
position: absolute;
left: 30.686767578125px;
 top: 8.53546142578125px;
 width: 86.26513671875px;
 height: 8.75152587890625px;
font-size: 12.50218677520752px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-110-2510{
position: absolute;
left: 298.2335205078125px;
 top: 8.53546142578125px;
 width: 55.0096435546875px;
 height: 10.001739501953125px;
font-size: 15.00262451171875px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-110-2511{
position: absolute;
left: 0.25457763671875px;
 top: 6.78564453125px;
 width: 183.78216552734375px;
 height: 12.502197265625px;
font-size: 17.503061294555664px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-110-2512{
position:absolute ;width: 220.0384521484375px; height: 50.00872802734375px;  background-color: rgba(0,0,0,0.0);top:1211px; left: calc( ( ( 100% - 1440px) / 2 ) + 1155px);border-radius: 2.5004372596740723px;background:''}

.group-110-2513{
position:absolute ;width: 101.2677001953125px; height: 50.00872802734375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 118px;border-radius: 2.5004372596740723px;background:''}

.group-110-2514{
position:absolute ;width: 101.2677001953125px; height: 50.00872802734375px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;border-radius: 2.5004372596740723px;background:''}

.text-110-2515{
position: absolute;
left: 18.871826171875px;
 top: 19.7445068359375px;
 width: 44.6328125px;
 height: 12.5616455078125px;
font-size: 17.503061294555664px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-110-2516{
position:absolute ;width: 101.2677001953125px; height: 50.00872802734375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.5004372596740723px;background:''}

.group-110-2517{
position:absolute ;width: 101.2677001953125px; height: 50.00872802734375px;  background-color: rgba(214,214,214,1.0);top:0px; left: 0px;border-radius: 2.5004372596740723px;background:''}

.text-110-2518{
position: absolute;
left: 4.213134765625px;
 top: 19.74444580078125px;
 width: 73.148193359375px;
 height: 12.5616455078125px;
font-size: 17.503061294555664px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}