<div class="testbaseline-1-5" name="test@Baseline">
 <div class="group-1-6" name="Group">
  <div class="group-1-7" name="Group">
  </div>
  <div class="group-1-291" name="Group">
   <div class="group-1-292" name="Group">
    <div class="group-1-293" name="Group">
     <div class="group-1-294" name="Group">
     </div>
     <div class="group-1-295" name="Group">
      <label class="text-1-296" type="text" value="Emergency room">
       Emergency room
      </label>
     </div>
    </div>
    <div class="group-1-297" name="Group">
     <div class="group-1-298" name="Group">
      <div class="group-1-299" name="Group">
      </div>
      <div class="group-1-300" name="Group">
       <label class="text-1-301" type="text" value="Department type">
        Department type
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-1-302" name="Group">
    <div class="group-1-303" name="Group">
     <div class="group-1-304" name="Group">
     </div>
     <div class="group-1-305" name="Group">
      <label class="text-1-306" type="text" value="Site2_ED">
       Site2_ED
      </label>
     </div>
    </div>
    <div class="group-1-307" name="Group">
     <div class="group-1-308" name="Group">
      <div class="group-1-309" name="Group">
      </div>
      <div class="group-1-310" name="Group">
       <label class="text-1-311" type="text" value="Department group">
        Department group
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-1-312" name="Group">
    <div class="group-1-313" name="Group">
     <div class="group-1-314" name="Group">
     </div>
     <div class="group-1-315" name="Group">
      <label class="text-1-316" type="text" value="Registered Nurses">
       Registered Nurses
      </label>
     </div>
    </div>
    <div class="group-1-317" name="Group">
     <div class="group-1-318" name="Group">
      <div class="group-1-319" name="Group">
      </div>
      <div class="group-1-320" name="Group">
       <label class="text-1-321" type="text" value="Resource Group">
        Resource Group
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <img class="vector-1-322" src="assets/images/test/baseline/vector-1_322.svg"/>
  <div class="group-1-323" name="Group">
   <div class="group-1-324" name="Group">
   </div>
   <div class="group-1-325" name="Group">
    <div class="group-1-326" name="Group">
     <img class="vector-1-327" src="assets/images/test/baseline/vector-1_327.svg"/>
     <div class="group-1-331" name="Group">
      <label class="text-1-332" type="text" value="921409198-87861">
       921409198-87861
      </label>
      <div class="group-1-333" name="Group">
       <div class="group-1-334" name="Group">
       </div>
       <img class="vector-1-335" src="assets/images/test/baseline/vector-1_335.svg"/>
       <label class="text-1-337" type="text" value="Base Line ID">
        Base Line ID
       </label>
      </div>
     </div>
     <label class="text-1-338" type="text" value="Private">
      Private
     </label>
    </div>
    <label class="text-1-339" type="text" value="Base Line Name 001">
     Base Line Name 001
    </label>
   </div>
  </div>
 </div>
 <div class="group-1-340" name="Group">
  <button class="btn-1-341" type="button">
   Next
  </button>
  <button class="btn-1-344" type="button">
   Cancel
  </button>
 </div>
</div>
