<div class="testbaseline-110-2178" name="test@Baseline">
 <div class="group-110-2179" name="Group">
  <div class="group-110-2180" name="Group">
  </div>
  <div class="group-110-2181" name="Group ">
   <div class="group-110-2354" name="Group">
    <div class="group-110-2355" name="Group">
     <div class="group-110-2356" name="Group">
      <div class="group-110-2357" name="Group">
      </div>
      <div class="group-110-2358" name="Group">
       <label class="text-110-2359" type="text" value="EARLIEST Start Time">
        EARLIEST Start Time
       </label>
       <img class="vector-110-2360" src="assets/images/test/baseline/vector-110_2360.svg"/>
      </div>
     </div>
    </div>
    <div class="group-110-2377" name="Group">
     <div class="group-110-2378" name="Group">
      <div class="group-110-2379" name="Group">
      </div>
      <div class="group-110-2380" name="Group">
       <label class="text-110-2381" type="text" value="ratio scale">
        ratio scale
       </label>
       <div class="group-110-2382" name="Group">
        <label class="text-110-2383" type="text" value="1.0">
         1.0
        </label>
        <button class="btn-110-2384" type="button">
         <img class="vector-110-2386" src="assets/images/test/baseline/vector-110_2386.svg"/>
        </button>
        <button class="btn-110-2387" type="button">
         <img class="vector-110-2389" src="assets/images/test/baseline/vector-110_2389.svg"/>
        </button>
       </div>
      </div>
     </div>
     <div class="group-110-2390" name="Group">
      <div class="group-110-2391" name="Group">
      </div>
      <div class="group-110-2392" name="Group">
       <label class="text-110-2393" type="text" value="Number of Weeks">
        Number of Weeks
       </label>
       <div class="group-110-2394" name="Group">
        <label class="text-110-2395" type="text" value="3">
         3
        </label>
        <button class="btn-110-2396" type="button">
         <img class="vector-110-2398" src="assets/images/test/baseline/vector-110_2398.svg"/>
        </button>
        <button class="btn-110-2399" type="button">
         <img class="vector-110-2401" src="assets/images/test/baseline/vector-110_2401.svg"/>
        </button>
       </div>
      </div>
     </div>
     <div class="group-110-2402" name="Group">
      <div class="group-110-2403" name="Group">
      </div>
      <div class="group-110-2404" name="Group">
       <br/>
       <label class="calendar-110-2405" for="html">
        start date
       </label>
       <input class="input-110-2405" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
       <br/>
       <img class="vector-110-2408" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/90ca3552-f28a-4ed6-b0a8-afeea79679d3"/>
      </div>
     </div>
     <div class="group-110-2415" name="Group">
      <div class="group-110-2416" name="Group">
      </div>
      <div class="group-110-2417" name="Group">
       <br/>
       <label class="calendar-110-2418" for="html">
        end date
       </label>
       <input class="input-110-2418" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
       <br/>
       <img class="vector-110-2421" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/de55fc52-2c20-4b7b-925f-e4576b7cb1ea"/>
      </div>
     </div>
    </div>
    <div class="group-110-2428" name="Group">
     <div class="group-110-2429" name="Group">
      <div class="group-110-2430" name="Group">
      </div>
      <div class="group-110-2431" name="Group">
       <div class="group-110-2432" name="Group">
        <div class="group-110-2433" name="Group">
        </div>
        <img class="vector-110-2434" src="assets/images/test/baseline/vector-110_2434.svg"/>
        <label class="text-110-2437" type="text" value="TRADITIONAL">
         TRADITIONAL
        </label>
       </div>
       <div class="group-110-2438" name="Group">
        <div class="group-110-2439" name="Group">
        </div>
        <img class="vector-110-2440" src="assets/images/test/baseline/vector-110_2440.svg"/>
        <label class="text-110-2443" type="text" value="HYBRID">
         HYBRID
        </label>
       </div>
       <div class="group-110-2444" name="Group">
        <div class="group-110-2445" name="Group">
        </div>
        <img class="vector-110-2446" src="assets/images/test/baseline/vector-110_2446.svg"/>
        <label class="text-110-2449" type="text" value="OPTIMAL">
         OPTIMAL
        </label>
       </div>
      </div>
     </div>
     <div class="group-110-2450" name="Group">
      <div class="group-110-2451" name="Group">
      </div>
      <div class="group-110-2452" name="Group">
       <img class="vector-110-2453" src="assets/images/test/baseline/vector-110_2453.svg"/>
       <label class="text-110-2462" type="text" value="Shift Distribution Types">
        Shift Distribution Types
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-110-2463" name="Group">
    <div class="group-110-2464" name="Group">
     <div class="group-110-2465" name="Group">
      <div class="group-110-2466" name="Group">
      </div>
      <div class="group-110-2467" name="Group">
       <label class="text-110-2468" type="text" value="Emergency room">
        Emergency room
       </label>
      </div>
     </div>
     <div class="group-110-2469" name="Group">
      <div class="group-110-2470" name="Group">
       <div class="group-110-2471" name="Group">
       </div>
       <div class="group-110-2472" name="Group">
        <label class="text-110-2473" type="text" value="Department type">
         Department type
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-110-2474" name="Group">
     <div class="group-110-2475" name="Group">
      <div class="group-110-2476" name="Group">
      </div>
      <div class="group-110-2477" name="Group">
       <label class="text-110-2478" type="text" value="Site2_ED">
        Site2_ED
       </label>
      </div>
     </div>
     <div class="group-110-2479" name="Group">
      <div class="group-110-2480" name="Group">
       <div class="group-110-2481" name="Group">
       </div>
       <div class="group-110-2482" name="Group">
        <label class="text-110-2483" type="text" value="Department group">
         Department group
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-110-2484" name="Group">
     <div class="group-110-2485" name="Group">
      <div class="group-110-2486" name="Group">
      </div>
      <div class="group-110-2487" name="Group">
       <label class="text-110-2488" type="text" value="Registered Nurses">
        Registered Nurses
       </label>
      </div>
     </div>
     <div class="group-110-2489" name="Group">
      <div class="group-110-2490" name="Group">
       <div class="group-110-2491" name="Group">
       </div>
       <div class="group-110-2492" name="Group">
        <label class="text-110-2493" type="text" value="Resource Group">
         Resource Group
        </label>
       </div>
      </div>
     </div>
    </div>
   </div>
   <img class="vector-110-2494" src="assets/images/test/baseline/vector-110_2494.svg"/>
   <div class="group-110-2495" name="Group">
    <div class="group-110-2496" name="Group">
    </div>
    <div class="group-110-2497" name="Group">
     <div class="group-110-2498" name="Group">
      <img class="vector-110-2499" src="assets/images/test/baseline/vector-110_2499.svg"/>
      <div class="group-110-2503" name="Group">
       <label class="text-110-2504" type="text" value="921409198-87861">
        921409198-87861
       </label>
       <div class="group-110-2505" name="Group">
        <div class="group-110-2506" name="Group">
        </div>
        <img class="vector-110-2507" src="assets/images/test/baseline/vector-110_2507.svg"/>
        <label class="text-110-2509" type="text" value="Base Line ID">
         Base Line ID
        </label>
       </div>
      </div>
      <label class="text-110-2510" type="text" value="Private">
       Private
      </label>
     </div>
     <label class="text-110-2511" type="text" value="Base Line Name 001">
      Base Line Name 001
     </label>
    </div>
   </div>
  </div>
  <div class="group-110-2512" name="Group">
   <div class="group-110-2513" name="Group">
    <div class="group-110-2514" name="Group">
    </div>
    <label class="text-110-2515" type="text" value="Next">
     Next
    </label>
   </div>
   <div class="group-110-2516" name="Group">
    <div class="group-110-2517" name="Group">
    </div>
    <label class="text-110-2518" type="text" value="Cancel">
     Cancel
    </label>
   </div>
  </div>
 </div>
</div>
