<div class="corebaselist-18-418" name="core@Baselist">
 <div class="group-18-419" name="Group">
  <div class="group-18-420" name="Group">
  </div>
  <label class="text-18-421" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-18-422" name="Group">
  <div class="group-18-423" name="Group">
  </div>
  <div class="group-18-424" name="Group">
   <div class="group-18-425" name="Group">
   </div>
   <img class="vector-18-426" src="assets/images/core/baselist/vector-18_426.svg"/>
   <div class="group-18-427" name="Group">
   </div>
   <div class="group-18-428" name="Group">
    <div class="group-18-429" name="Group">
    </div>
    <img class="vector-18-430" src="assets/images/core/baselist/vector-18_430.svg"/>
    <img class="vector-18-431" src="assets/images/core/baselist/vector-18_431.svg"/>
    <div class="group-18-442" name="Group">
     <img class="vector-18-443" src="assets/images/core/baselist/vector-18_443.svg"/>
    </div>
   </div>
   <div class="group-18-454" name="Group">
    <img class="img-18-455" src="assets/images/core/baselist/img-18_455.png"/>
    <img class="img-18-456" src="assets/images/core/baselist/img-18_456.png"/>
    <img class="img-18-457" src="assets/images/core/baselist/img-18_457.png"/>
    <button class="btn-18-458" type="button">
     +3
    </button>
   </div>
   <div class="group-18-462" name="Group">
    <div class="group-18-463" name="Group">
    </div>
    <div class="group-18-464" name="Group">
     <img class="vector-18-465" src="assets/images/core/baselist/vector-18_465.svg"/>
     <img class="vector-18-467" src="assets/images/core/baselist/vector-18_467.svg"/>
     <input class="checkbox-18-471" type="checkbox"/>
    </div>
   </div>
   <div class="group-18-473" name="Group">
    <div class="group-18-474" name="Group">
     <div class="group-18-475" name="Group">
     </div>
     <img class="vector-18-476" src="assets/images/core/baselist/vector-18_476.svg"/>
     <label class="text-18-478" type="text" value="921409198-87861">
      921409198-87861
     </label>
     <label class="text-18-479" type="text" value="Base Line ID">
      Base Line ID
     </label>
    </div>
    <div class="group-18-480" name="Group">
     <div class="group-18-481" name="Group">
     </div>
     <img class="vector-18-482" src="assets/images/core/baselist/vector-18_482.svg"/>
     <label class="text-18-484" type="text" value="Emergency Room">
      Emergency Room
     </label>
     <label class="text-18-485" type="text" value="Dept: Type">
      Dept: Type
     </label>
    </div>
    <div class="group-18-486" name="Group">
     <div class="group-18-487" name="Group">
     </div>
     <img class="vector-18-488" src="assets/images/core/baselist/vector-18_488.svg"/>
     <label class="text-18-490" type="text" value="Site1_ED">
      Site1_ED
     </label>
     <label class="text-18-491" type="text" value="Dept: Group">
      Dept: Group
     </label>
    </div>
    <div class="group-18-492" name="Group">
     <div class="group-18-493" name="Group">
     </div>
     <img class="vector-18-494" src="assets/images/core/baselist/vector-18_494.svg"/>
     <label class="text-18-496" type="text" value="Registered Nurses">
      Registered Nurses
     </label>
     <label class="text-18-497" type="text" value="Resource Group">
      Resource Group
     </label>
    </div>
    <div class="group-18-498" name="Group">
     <div class="group-18-499" name="Group">
     </div>
     <img class="vector-18-500" src="assets/images/core/baselist/vector-18_500.svg"/>
     <label class="text-18-502" type="text" value="March 01,2023  10:33 AM">
      March 01,2023  10:33 AM
     </label>
     <label class="text-18-503" type="text" value="Created On">
      Created On
     </label>
    </div>
    <div class="group-18-504" name="Group">
     <button class="btn-18-505" type="button">
      <img class="vector-18-507" src="assets/images/core/baselist/vector-18_507.svg"/>
     </button>
     <button class="btn-18-511" type="button">
      <img class="vector-18-513" src="assets/images/core/baselist/vector-18_513.svg"/>
     </button>
    </div>
   </div>
   <div class="group-18-517" name="Group">
    <select class="dropdown-18-518">
     <option selected="" value="">
      Link To
     </option>
    </select>
   </div>
   <div class="group-18-525" name="Group">
    <div class="group-18-526" name="Group">
     <div class="group-18-527" name="Group">
      <div class="group-18-528" name="Group">
      </div>
      <img class="vector-18-529" src="assets/images/core/baselist/vector-18_529.svg"/>
      <label class="text-18-531" type="text" value="Description">
       Description
      </label>
     </div>
     <label class="text-18-532" type="text" value="The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.">
      The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.
     </label>
    </div>
    <label class="text-18-533" type="text" value="*The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.">
     *The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.
    </label>
   </div>
   <div class="group-18-534" name="Group">
    <button class="btn-18-535" type="button">
     <img class="vector-18-537" src="assets/images/core/baselist/vector-18_537.svg"/>
    </button>
    <button class="btn-18-540" type="button">
     <img class="vector-18-542" src="assets/images/core/baselist/vector-18_542.svg"/>
    </button>
    <button class="btn-18-545" type="button">
     <img class="vector-18-547" src="assets/images/core/baselist/vector-18_547.svg"/>
    </button>
    <button class="btn-18-554" type="button">
     <img class="vector-18-556" src="assets/images/core/baselist/vector-18_556.svg"/>
    </button>
    <button class="btn-18-560" type="button">
     <img class="vector-18-562" src="assets/images/core/baselist/vector-18_562.svg"/>
    </button>
    <button class="btn-18-566" type="button">
     <img class="vector-18-568" src="assets/images/core/baselist/vector-18_568.svg"/>
    </button>
   </div>
   <div class="group-18-570" name="Group">
    <img class="vector-18-571" src="assets/images/core/baselist/vector-18_571.svg"/>
    <label class="text-18-585" type="text" value="Base Line Name ABCD">
     Base Line Name ABCD
    </label>
   </div>
   <img class="vector-18-586" src="assets/images/core/baselist/vector-18_586.svg"/>
   <div class="group-18-587" name="Group">
    <div class="group-18-588" name="Group">
    </div>
    <img class="vector-18-589" src="assets/images/core/baselist/vector-18_589.svg"/>
    <label class="text-18-597" type="text" value="Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
">
     Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
    </label>
    <button class="btn-18-598" type="button">
     <img class="vector-18-600" src="assets/images/core/baselist/vector-18_600.svg"/>
    </button>
   </div>
   <label class="text-18-602" type="text" value="Collaborators">
    Collaborators
   </label>
  </div>
 </div>
 <div class="group-18-603" name="Group">
  <div class="group-18-604" name="Group">
  </div>
  <div class="group-18-605" name="Group">
   <img class="vector-18-606" src="assets/images/core/baselist/vector-18_606.svg"/>
   <label class="text-18-611" type="text" value="Base Lines">
    Base Lines
   </label>
  </div>
  <button class="btn-18-612" type="button">
   <img class="vector-18-614" src="assets/images/core/baselist/vector-18_614.svg"/>
  </button>
  <button class="btn-18-618" type="button">
   <img class="vector-18-620" src="assets/images/core/baselist/vector-18_620.svg"/>
  </button>
 </div>
 <div class="group-18-622" name="Group">
  <div class="group-18-623" name="Group">
  </div>
  <label class="text-18-624" type="text" value="Base line List">
   Base line List
  </label>
  <label class="text-18-625" type="text" value="The main list of the ‘Base Lines’ section">
   The main list of the ‘Base Lines’ section
  </label>
  <img class="vector-18-626" src="assets/images/core/baselist/vector-18_626.svg"/>
  <div class="group-18-627" name="Group">
   <button class="btn-18-628" type="button">
    <img class="vector-18-630" src="assets/images/core/baselist/vector-18_630.svg"/>
   </button>
  </div>
 </div>
 <div class="group-18-633" name="Group">
  <div class="group-18-634" name="Group">
  </div>
  <img class="vector-18-635" src="assets/images/core/baselist/vector-18_635.svg"/>
  <img class="vector-18-638" src="assets/images/core/baselist/vector-18_638.svg"/>
  <img class="vector-18-663" src="assets/images/core/baselist/vector-18_663.svg"/>
  <img class="vector-18-664" src="assets/images/core/baselist/vector-18_664.svg"/>
  <button class="btn-18-668" type="button">
   <img class="vector-18-671" src="assets/images/core/baselist/vector-18_671.svg"/>
   back to dashboard
  </button>
 </div>
</div>
