

.corebaselist-18-418{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-18-419{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1079px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-18-420{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-18-421{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-18-422{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-18-423{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-18-424{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 9px;background:''}

.group-18-425{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-18-426{
position: absolute;left: 1080.0px; top: 91.5px; width: 273.0px; height: 1.0}

.group-18-427{
position:absolute ;width: 542.0px; height: 147.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 514px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-18-428{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(0,0,0,0.0);top:92px; left: 656px;background:''}

.group-18-429{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-18-430{
position: absolute;left: 198.5px; top: 0.0px; width: 1.0px; height: 55.0}

.vector-18-431{
position: absolute;left: 32.0px; top: 17.0px; width: 127.0px; height: 22.0}

.group-18-442{
position:absolute ;width: 127.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 236px;background:''}

.vector-18-443{
position: absolute;left: 0.0px; top: 0.0px; width: 127.0px; height: 22.0}

.group-18-454{
position:absolute ;width: 107.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 1224px;background:''}

.img-18-455{
position: absolute;left: 0.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.img-18-456{
position: absolute;left: 16.0px; top: 0.0px; width: 21.0px; height: 22.0px;}

.img-18-457{
position: absolute;left: 31.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.btn-18-458{
position: absolute;
left: 56.0px;
 top: 0.0px;
 width: 51.0px;
 height: 21.0px;
border-radius: 4.0px; background-color: rgba(250, 250, 250, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.group-18-462{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-18-463{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(236,239,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-18-464{
position:absolute ;width: 24.0px; height: 113.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 9px;background:''}

.vector-18-465{
position: absolute;left: 2.0px; top: 43.0px; width: 20.0px; height: 20.0}

.vector-18-467{
position: absolute;left: 0.0px; top: 91.0px; width: 24.0px; height: 22.0}

.checkbox-18-471{
position: absolute;left: 5.0px; top: 0.0px; width: 15.0px; height: 15.0px;}

.group-18-473{
position:absolute ;width: 412.9996337890625px; height: 67.3634033203125px;  background-color: rgba(0,0,0,0.0);top:54px; left: 61px;background:''}

.group-18-474{
position:absolute ;width: 200.4854736328125px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:24px; left: 0px;background:''}

.group-18-475{
position:absolute ;width: 84.203857421875px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-18-476{
position: absolute;left: 3.207763671875px; top: 4.0679931640625px; width: 10.42529296875px; height: 10.42529296875}

.text-18-478{
position: absolute;
left: 91.4208984375px;
 top: 6.4744873046875px;
 width: 76.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-18-479{
position: absolute;
left: 19.2470703125px;
 top: 6.4744873046875px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-18-480{
position:absolute ;width: 202.8912353515625px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:24px; left: 211px;background:''}

.group-18-481{
position:absolute ;width: 75.382568359375px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-18-482{
position: absolute;left: 2.31640625px; top: 4.068359375px; width: 10.42529296875px; height: 10.42529296875}

.text-18-484{
position: absolute;
left: 84.1142578125px;
 top: 6.4736328125px;
 width: 81.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-18-485{
position: absolute;
left: 18.3544921875px;
 top: 6.474609375px;
 width: 48.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-18-486{
position:absolute ;width: 200.4854736328125px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:49px; left: 0px;background:''}

.group-18-487{
position:absolute ;width: 84.203857421875px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-18-488{
position: absolute;left: 3.207763671875px; top: 3.928466796875px; width: 10.42529296875px; height: 10.42529296875}

.text-18-490{
position: absolute;
left: 91.4208984375px;
 top: 6.333984375px;
 width: 39.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-18-491{
position: absolute;
left: 19.2470703125px;
 top: 6.333984375px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-18-492{
position:absolute ;width: 202.8912353515625px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:49px; left: 211px;background:''}

.group-18-493{
position:absolute ;width: 93.0252685546875px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-18-494{
position: absolute;left: 2.31640625px; top: 3.9287109375px; width: 10.42529296875px; height: 10.42529296875}

.text-18-496{
position: absolute;
left: 104.1630859375px;
 top: 6.333984375px;
 width: 83.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-18-497{
position: absolute;
left: 18.3544921875px;
 top: 6.333984375px;
 width: 70.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-18-498{
position:absolute ;width: 200.4854736328125px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-18-499{
position:absolute ;width: 84.203857421875px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-18-500{
position: absolute;left: 4.009765625px; top: 3.207763671875px; width: 9.623291015625px; height: 9.623291015625}

.text-18-502{
position: absolute;
left: 91.4208984375px;
 top: 5.61328125px;
 width: 110.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-18-503{
position: absolute;
left: 19.2470703125px;
 top: 5.61328125px;
 width: 51.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-18-504{
position:absolute ;width: 202.8912353515625px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 211px;background:''}

.vector-18-507{
position: relative; width: 7.0px; height: 9.800048828125}

.btn-18-505{
position: absolute;
left: 0.8916015625px;
 top: 0.0px;
 width: 53.0px;
 height: 17.800048828125px;
border-radius: 3.2077670097351074px; background-color: rgba(203, 203, 203, 0.10000000149011612);
 cursor: pointer;

}

.vector-18-513{
position: relative; width: 12.8310546875px; height: 12.8310546875}

.btn-18-511{
position: absolute;
left: 71.2830810546875px;
 top: 0.0px;
 width: 77.2757568359375px;
 height: 17.6427001953125px;
border-radius: 1.6038835048675537px; background-color: rgba(179, 235, 203, 1.0);
 cursor: pointer;

}

.group-18-517{
position:absolute ;width: 100.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:109px; left: 533px;background:''}

.dropdown-18-518{
position: absolute;left: 0.0px; top: 0.0px;background-color: rgba(219, 222, 235, 1.0);; width: 100.0px; height: 22.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-18-525{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 533px;background:''}

.group-18-526{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-18-527{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-18-528{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-18-529{
position: absolute;left: 5.0px; top: 4.0px; width: 11.0px; height: 11.0}

.text-18-531{
position: absolute;
left: 19.35546875px;
 top: 5.61328125px;
 width: 50.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-18-532{
position: absolute;
left: 0.0px;
 top: 37.0px;
 width: 508.0px;
 height: 26.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-18-533{
position: absolute;
left: 100.0px;
 top: 2.0px;
 width: 408.0px;
 height: 18.0px;
font-size: 9.0px; color: rgba(180, 174, 174, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-18-534{
position:absolute ;width: 258.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 1075px;border-radius: 2.0px;background:''}

.vector-18-537{
position: relative; width: 18.0px; height: 18.0}

.btn-18-535{
position: absolute;
left: 230.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(222, 252, 235, 1.0);
 cursor: pointer;

}

.vector-18-542{
position: relative; width: 18.0px; height: 18.0}

.btn-18-540{
position: absolute;
left: 184.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 232, 229, 1.0);
 cursor: pointer;

}

.vector-18-547{
position: relative; width: 18.0px; height: 18.0}

.btn-18-545{
position: absolute;
left: 138.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-18-556{
position: relative; width: 18.0px; height: 18.0}

.btn-18-554{
position: absolute;
left: 92.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-18-562{
position: relative; width: 18.0px; height: 18.0}

.btn-18-560{
position: absolute;
left: 46.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-18-568{
position: relative; width: 18.0px; height: 18.0}

.btn-18-566{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.group-18-570{
position:absolute ;width: 195.0px; height: 14.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 66px;background:''}

.vector-18-571{
position: absolute;left: 0.0px; top: 0.0px; width: 14.0px; height: 14.0}

.text-18-585{
position: absolute;
left: 30.0px;
 top: 2.0px;
 width: 165.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-18-586{
position: absolute;left: 514.0px; top: 91.5px; width: 566.0px; height: 1.0}

.group-18-587{
position:absolute ;width: 260.0px; height: 32.0px;  background-color: rgba(0,0,0,0.0);top:47px; left: 1075px;background:''}

.group-18-588{
position:absolute ;width: 193.0px; height: 32.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 31px;border-radius: 2.0px;border-color:rgba(164, 232, 200, 1.0);border-style:solid;background:''}

.vector-18-589{
position: absolute;left: 0.0px; top: 0.0px; width: 29.0px; height: 27.0}

.text-18-597{
position: absolute;
left: 39.0px;
 top: 8.0px;
 width: 185.0px;
 height: 17.0px;
font-size: 8.0px; color: rgba(170, 164, 165, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-18-600{
position: relative; width: 18.0px; height: 18.0}

.btn-18-598{
position: absolute;
left: 232.0px;
 top: 2.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.text-18-602{
position: absolute;
left: 1142.0px;
 top: 23.0px;
 width: 70.0px;
 height: 6.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-18-603{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-18-604{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-18-605{
position:absolute ;width: 127.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-18-606{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-18-611{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 92.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-18-614{
position: relative; width: 18.0px; height: 18.0}

.btn-18-612{
position: absolute;
left: 1337.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.vector-18-620{
position: relative; width: 18.0px; height: 18.0}

.btn-18-618{
position: absolute;
left: 1298.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.group-18-622{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:69px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-18-623{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;background:''}

.text-18-624{
position: absolute;
left: 25.0px;
 top: 23.0px;
 width: 185.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-18-625{
position: absolute;
left: 250.0px;
 top: 27.0px;
 width: 393.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-18-626{
position: absolute;left: 230.0px; top: 15.0px; width: 1.0px; height: 46.0}

.group-18-627{
position:absolute ;width: 159.0px; height: 36.0px;  background-color: rgba(0,0,0,0.0);top:19px; left: 1232px;border-radius: 2.0px;background:''}

.vector-18-630{
position: relative; width: 24.0px; height: 24.0}

.btn-18-628{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 159.0px;
 height: 36.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;

}

.group-18-633{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-18-634{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-18-635{
position: absolute;left: 1370.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-18-638{
position: absolute;left: 22.0px; top: 24.0px; width: 155.537841796875px; height: 33.9761962890625}

.vector-18-663{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-18-664{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-18-671{
position: relative; width: 24.0px; height: 24.0}

.btn-18-668{
position: absolute;
left: 214.0px;
 top: 17.0px;
 width: 207.0px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(237, 237, 237, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}